/*=====================================

      elec-process 电子流程样式

=======================================*/
.elec-process.gf-tab-view{
    position: relative;
    padding: 0;
}

.elec-process>section {
    display: flex;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.elec-process>section>div {
    position: relative;
}

.elec-process>section.top-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background: #fff;
    z-index: 1;
}

.elec-process>section.bottom-section {
    height: 100%;
    margin-top: 80px;
}

.elec-process>section .section-title {
    position: relative;
    margin-left: 12px;
    margin-bottom: 5px;
}

.elec-process>section .section-title::before {
    display: block;
    position: absolute;
    content: '';
    width: 3px;
    height: 14px;
    background: #476DBE;
    left: -10px;
    top: 1px;
}

.elec-process>section .left {
    flex: 1;
    padding-right: 10px;
}

.elec-process>section .bottom.left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.elec-process>section .bottom.left>.drag-column{
    min-height: 320px;
}

.elec-process>section .bottom.left>.drag-column .ag-grid-box .gf-ag-grid{
    height: 100%;
}

.elec-process>section>.right {
    width: 380px;
    flex: 0 0 380px;
    padding-left: 10px;
}

.elec-process>section .top.right .expand-more {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.elec-process>section .top.right .expand-more:hover {
    color: #476DBE;
}

.elec-process>section i.el-icon-refresh {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.elec-process>section .el-icon-refresh:hover {
    color: #476DBE;
}

.elec-process>section .drag-bar-line {
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #eee;
    margin: 10px auto;
}

.elec-process>section .drag-bar-line>p {
    position: absolute;
    width: 35px;
    top: -9px;
    left: calc(50% - 17px);
    color: #999;
    background: #fff;
    font-size: 12px;
}

.elec-process .flow-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.elec-process .flow-container .stage-item {
    flex: 0 0 auto;
    width: 170px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.elec-process .flow-container .stage-item.active .stage-item-title{
    background: #4d7dc2;
}

.elec-process .flow-container .stage-item.active .stage-item-title::after {
    border-left-color: #4d7dc2;
}

.elec-process .flow-container .stage-item .stage-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 36px;
    color: #fff;
    background: #585c73;
    padding: 0 10px 0 35px;
    cursor: pointer;
}

.elec-process .flow-container .stage-item:not(:first-child) .stage-item-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    border: 18px solid transparent;
    border-left: 14px solid #fff;
}

.elec-process .flow-container .stage-item .stage-item-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: -32px;
    top: 0px;
    border: 18px solid transparent;
    border-left: 14px solid #585c73;
}

.define-progress.el-progress {
    display: flex;
    align-items: center;
}

.define-progress.el-progress .el-progress-bar {
    padding-right: 0;
    margin-right: 0;
}

.define-progress.el-progress .el-progress__text {
    margin-left: 5px;
    font-size: 12px!important;
}

.define-progress.el-progress .el-progress__text>i {
    font-size: 14px!important;
}

/* task-board样式 */
.elec-process .top-section .task-board {
    position: relative;
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
}

.elec-process .top-section .task-board>.el-radio-group {
    height: 100%;
    overflow: auto;
}

.elec-process .top-section .task-board>.el-radio-group::-webkit-scrollbar-thumb {
    background: transparent;
}

.elec-process .top-section .task-board>.el-radio-group:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.elec-process .top-section .task-board .el-radio-group .el-radio {
    height: 28px;
    max-width: 180px;
    line-height: 18px;
    color: #333;
    border-color: #EAEDF1;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.elec-process .top-section .task-board .el-radio-group .el-radio+.el-radio {
    margin-left: 0px;
}

.elec-process .top-section .task-board .el-radio-group .el-radio .el-radio__input{
    display: none;
}

.elec-process .top-section .task-board .el-radio-group .el-radio .el-radio__label{
    padding-left: 0;
}

.elec-process .top-section .task-board .el-radio-group .el-radio.is-checked {
    color: #476DBE;
    border-color: #D9E8FD;
    background: #F3F8FF;
}

.elec-process .top-section .task-board .el-radio-group .el-radio__input.is-checked+.el-radio__label {
    color: #476DBE;
}

.elec-process .bottom-section .chart-container {
    margin-bottom: 20px;
}

.elec-process .bottom-section .exec-container {
    height: calc(100% - 295px);
}

.elec-process .bottom-section .exec-container .exec-ul {
    height: calc(100% - 25px);
    overflow-y: auto;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li{
    line-height: 28px;
    border-bottom: 1px solid #F6F8FA;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.expand{
    white-space: normal;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:nth-child(odd){
    background: #F6F8FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:hover {
    background: #E6F0FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li>i{
    margin-right: 5px;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.success>i{
    color: #B3CDF7;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.start>i{
    color: #FADA9C;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.fail>i{
    color: #F5AEB2;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.fail>span{
    color: #f5222e;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.nostart>i{
    color: #eee;
}

/* =============================

    gf-grid 表格特殊样式

   ============================= */
.gf-ag-grid.ag-theme-balham .ag-cell .grid-cell-op-link.actionConfirm,
.gf-ag-grid.ag-theme-balham .ag-cell .grid-cell-op-link.forcePass {
    display: none;
}
.gf-ag-grid.ag-theme-balham .ag-cell.noneStatus .grid-cell-op-link.actionConfirm,
.gf-ag-grid.ag-theme-balham .ag-cell.noneStatus .grid-cell-op-link.forcePass {
    display: inline-block;
}

.gf-ag-grid.ag-theme-balham .ag-cell .el-button {
    margin-right: 5px;
    margin-left: 0!important;
}