.gf-tab-view.elec-process-dashboard {
    position: relative;
    flex-direction: column;
    height: 100%;
}

.el-progress-bar .el-progress-bar__outer {
    background: #D7DBE4;
}

/*=======================================


           流程面板展示首页


=========================================*/
.elec-process-dashboard .dataSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.elec-process-dashboard .dataSearch > div {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.elec-process-dashboard .flow-type-select .el-input.is-disabled > input {
    background: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding-left: 0;
}

.elec-process-dashboard .flow-type-select .el-input.is-disabled .el-input__suffix {
    display: none;
}

.elec-process-dashboard .board-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*.elec-process-dashboard .board-container .el-carousel.has-pagin .el-carousel__arrow {*/
/*    display: block;*/
/*}*/

.elec-process-dashboard .board-container .el-carousel .el-carousel__arrow {
    width: 24px;
    height: calc(100% - 40px);
    border-radius: 4px;
    font-size: 27px;
    color: #999;
    background: transparent;
}

.elec-process-dashboard .board-container .el-carousel .el-carousel__arrow.el-carousel__arrow--left {
    left: 0;
}

.elec-process-dashboard .board-container .el-carousel .el-carousel__arrow.el-carousel__arrow--right {
    right: 0;
}

.elec-process-dashboard .board-container .el-carousel .el-carousel__arrow:hover {
    color: #fff;
    background: #D7DBE4;
}

.elec-process-dashboard .board-container .el-carousel .el-carousel__indicators--horizontal {
    display: none;
}

.elec-process-dashboard .board-container .el-carousel .monitor-progress {
    display: flex;
    align-items: center;
}

.elec-process-dashboard .board-container .el-carousel .monitor-progress
.el-progress-bar {
    padding-right: 30px;
    margin-right: -30px;
}

.elec-process.elec-process-dashboard .board-container .el-carousel .monitor-progress
.el-progress-bar .el-progress-bar__outer {
    background: #ABBEEA;
}

.elec-process.elec-process-dashboard .board-container .el-carousel .monitor-progress
.el-progress-bar .el-progress-bar__inner {
    background: linear-gradient(90deg, #6593FD 0%, #6BB5FF 30%, #5AEBC8 71%, #7DFABF 100%);
}

.elec-process-dashboard .card-container .module-card .content > p .el-progress .el-progress__text {
    color: inherit;
    margin-left: 9px !important;
}

.elec-process-dashboard .board-container .card-detail {
    display: flex;
    margin-top: 30px;
    padding: 40px 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 14px;
}

.elec-process-dashboard .board-container .card-detail > div {
    padding: 20px;
}

.elec-process-dashboard .board-container .card-detail .chart-container {
    position: relative;
    flex: 0 0 45%;
}

.elec-process-dashboard .board-container .card-detail .detail-btn {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 30px);
    text-align: center;
    color: #0f5eff;
    cursor: pointer;
    margin-top: -10px;
}

.elec-process-dashboard .board-container .card-detail .process-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex: none;
    width: 50%;
}

.elec-process-dashboard .board-container .card-detail .progress
.progress-item + .progress-item {
    margin-top: 20px;
}

.elec-process-dashboard .board-container .card-detail .progress {
    position: relative;
    margin-top: 20px;
}

.elec-process-dashboard .board-container .card-detail .progress::after {
    content: '';
    position: absolute;
    right: 0;
    top: 44px;
    width: 2px;
    height: calc(100% - 54px);
    background: #D7DBE4;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > span {
    color: #666;
    font-size: 16px;
    line-height: 35px;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div p {
    width: 80px;
    line-height: 20px;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
p span.num {
    color: #666;
    font-size: 16px;
    margin-left: 16px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line {
    position: relative;
    flex: none;
    width: 20%;
    height: 2px;
    background: #D7DBE4;
    margin-left: 20px;
    margin-bottom: 1px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.whole {
    display: flex;
    justify-content: center;
    position: absolute;
    right: -50%;
    width: 50%;
    top: calc(50% + 16px);
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.whole
.text-info {
    position: absolute;
    top: -88px;
    left: 73px;
    font-size: 16px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.whole
.text-info>span {
    color: #4C6CFF;
}

.elec-process-dashboard .board-container .card-detail.is-full .progress
.link-line.whole .text-info>span {
    color: #43DC4E;
}

.elec-process-dashboard .board-container .card-detail .progress
.link-line::before {
    content: url(../../../assets/img/plug.svg);
    position: absolute;
    left: -19px;
    top: -6px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.error {
    background: #FA6A6A;
    cursor: pointer;
}

.elec-process-dashboard .board-container .card-detail .progress
.link-line.error::before {
    content: url(../../../assets/img/plug-error.svg);
    cursor: pointer;
}

.elec-process-dashboard .board-container .card-detail .progress
.link-line.whole::before {
    content: url(../../../assets/img/USB.svg);
    left: auto;
    right: -25px;
    top: -10px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.whole
.svg-icon {
    margin-top: -60px;
}

.elec-process-dashboard .board-container .card-detail .progress .link-line.whole
.svg-icon + .svg-icon {
    margin-left: 16px;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress-bar {
    position: relative;
    flex: 1;
    width: 100%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    cursor: pointer;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress-bar .error-percentage{
    position: absolute;
    top: 0;
    height: 100%;
    background: linear-gradient(91deg, #F62C2C 0%, #FF7676 100%);
    border-radius: 0 100px 100px 0;
}
.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress .el-progress-bar {
    margin-right: -45px;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress .el-progress__text {
    font-size: 14px !important;
    transform: scale(1);
    color: inherit;
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress .el-progress-bar__inner {
    background: linear-gradient(90deg, #6593FD 0%, #6BB5FF 30%, #5AEBC8 71%, #7DFABF 100%);
}

.elec-process-dashboard .board-container .card-detail .progress .progress-item > div
.define-progress.has-error .el-progress-bar__inner {
    position: relative;
}

.elec-process-dashboard .board-container .card-detail .process-container .flow-legend {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: auto;
}

.elec-process-dashboard .board-container .card-detail .process-container
.flow-legend > span {
    color: #666;
    font-size: 16px;
}

.elec-process-dashboard .board-container .card-detail .process-container
.flow-legend > span + span {
    margin-left: 20px;
}

.elec-process-dashboard .board-container .card-detail .process-container
.flow-legend > span > em {
    margin-right: 10px;
}

.elec-process-dashboard .board-container .card-detail .battery-container {
    display: flex;
    align-items: flex-end;
    margin-left: 25%;
}

.elec-process-dashboard .board-container .card-detail .battery-container .container {
    position: relative;
    width: 170px;
    height: 320px;
    margin: 0 auto;
    border: 10px solid #D7DBE4;
    border-radius: 15px;
}

.elec-process-dashboard .board-container .card-detail .battery-container .header {
    position: absolute;
    width: 30px;
    height: 15px;
    left: 50%;
    top: -15px;
    transform: translate(-50%, -10px);
    border-radius: 5px 5px 0 0;
    background: #D7DBE4;
}

.elec-process-dashboard .board-container .card-detail .battery-container .battery-copy {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 300px;
    border-radius: 0;
    overflow: hidden;
}

.elec-process-dashboard .board-container .card-detail .battery-container .battery {
    position: relative;
    height: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.22);
    background: #fff;
    overflow: hidden;
    z-index: 1;
}

.elec-process-dashboard .board-container .card-detail .battery-container .battery::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1deg, #6593FD 0%, #6BB5FF 35%, #5AEBC8 72%, #7DFABF 100%);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 14px 28px #E8EFFF, 0 10px 10px #BBD1FF;
}

.elec-process-dashboard .board-container .card-detail .battery-container .battery.is-mini::after {
    height: 50%;
}

.elec-process-dashboard .board-container .card-detail .battery-container .g-wave {
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, .8);
    border-radius: 45% 47% 44% 42%;
    left: -50%;
    top: -5%;
    z-index: 1;
    animation: wave-rotate 15s linear infinite;
}

.elec-process-dashboard .board-container .card-detail.is-full .battery-container .g-wave {
    display: none;
    animation: none;
}

.elec-process-dashboard .board-container .card-detail .battery-container .g-wave:nth-child(2) {
    border-radius: 38% 46% 43% 47%;
    transform: rotate(-135deg);
}

.elec-process-dashboard .board-container .card-detail .battery-container .g-wave:nth-child(3) {
    border-radius: 42% 46% 37% 40%;
    transform: rotate(135deg);
}

@keyframes wave-rotate {
    100% {
        transform: rotate(720deg);
    }
}

.elec-process-dashboard .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    overflow: hidden;
}

.elec-process-dashboard .card-container .module-card {
    position: relative;
    width: calc(25% - 24px);
    height: 0;
    padding-bottom: 12%;
    color: #3F60A5;
    background: #EFF3FC;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: initial;
    cursor: pointer;
    box-shadow: none;
}

.elec-process-dashboard .card-container .module-card + .module-card {
    margin-left: 32px;
}

.elec-process-dashboard .card-container .module-card.active::after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-right-color: #0f5eff;
    border-bottom-color: #0f5eff;
    left: calc(50% - 5px);
    bottom: -6px;
    transform: rotate(45deg);
    background: #D1E0FF;
}

.elec-process-dashboard .card-container .module-card:hover,
.elec-process-dashboard .card-container .module-card.active {
    color: #0F5EFF;
    background: #D1E0FF;
    border-color: #0f5eff;
}

.elec-process-dashboard .card-container .module-card .el-card__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.elec-process-dashboard .card-container .module-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.elec-process-dashboard .card-container .module-card .content > p.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process-dashboard .card-container .module-card .content > p.title,
.elec-process-dashboard .card-container .module-card .content > p.imgContainer > em {
    color: inherit;
    text-align: center;
}

.elec-process-dashboard .card-container .module-card.active .content > p.title,
.elec-process-dashboard .card-container .module-card:hover .content > p.title {
    color: inherit;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer > em {
    font-size: 24px;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer > em.fa.fa-clock-o {
    font-size: 30px;
}

.elec-process-dashboard .card-container .module-card .content > .el-badge {
    position: absolute;
    top: 10px;
    right: 16px;
}

.elec-process-dashboard .card-container .module-card .content > .el-badge .el-badge__content {
    top: 0;
    left: 0;
}

/*=====================================

      elec-process 电子流程样式

=======================================*/
.elec-process.gf-tab-view {
    position: relative;
}


.elec-process {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.elec-process > section {
    display: flex;
}

.elec-process .top-section > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.elec-process .top-section .section-label {
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    line-height: 28px;
    margin-right: 5px;
}

.elec-process > section > div {
    position: relative;
    flex: none;
}

.elec-process > section.bottom-section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.elec-process > section.bottom-section .rightExpandBtn {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.elec-process > section.bottom-section .rightExpandBtn:hover svg .st0 {
    fill: #0f5eff;
}

.elec-process > section .section-title {
    position: relative;
    font-size: 12px;
    line-height: 28px;
    margin-left: 12px;
    margin-bottom: 5px;
}

.elec-process > section .section-title::before {
    display: block;
    position: absolute;
    content: '';
    width: 3px;
    height: 12px;
    background: #0f5eff;
    left: -10px;
    top: 8px;
}

.elec-process > section .bottom.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 371px);
    height: 100%;
}

.elec-process > section .bottom.left > .drag-column {
    flex: 1;
    height: 100%;
    min-height: 320px;
}

.elec-process > section > .right {
    width: 380px;
    flex: 0 0 380px;
    padding-left: 10px;
}

.elec-process > section .el-icon-refresh,
.elec-process > section .iconfont.icon-reset,
.el-icon-refresh.refresh-btn {
    font-size: 18px;
    color: #999;
    margin-left: 10px;
    line-height: 26px;
    cursor: pointer;
}

.elec-process > section .el-icon-refresh:hover,
.elec-process > section .iconfont.icon-reset:hover,
.el-icon-refresh.refresh-btn:hover {
    color: #0f5eff;
}

.elec-process > section .drag-bar-line {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #eee;
    margin: 10px auto;
    z-index: 1;
}

.elec-process > section .drag-bar-line > p {
    position: absolute;
    width: 35px;
    top: -9px;
    left: calc(50% - 17px);
    color: #999;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
}

.elec-process > section .drag-bar-line > p:hover {
    color: #0f5eff;
}

.elec-process .flow-legend {
    position: absolute;
    top: 0;
    right: 35px;
}

.elec-process .flow-legend > span {
    font-size: 12px;
}

.elec-process .flow-legend > span + span {
    margin-left: 5px;
}

.elec-process .flow-legend > span > em {
    margin-right: 3px;
}

.elec-process .flow-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    position: relative;
    padding: 20px;
    height: 150px;
    min-height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
}

.elec-process.board-detail .flow-container {
    overflow-y: auto;
}

.elec-process .flow-container .stage-item {
    position: relative;
    min-width: 86px;
    align-self: flex-start;
    color: #333;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px dashed transparent;
    padding: 12px 6px;
}

/*.elec-process .flow-container .stage-item.active {*/
/*    border-color: #0f5eff;*/
/*    background: #E7EEFD;*/
/*}*/

.elec-process .flow-container .stage-item .stage-item-title {
    margin-top: 5px;
    white-space: nowrap;
}

.elec-process .flow-container .stage-item.active .stage-item-title {
    color: #0F5EFF;
}

.elec-process .flow-container .stage-item + .stage-item {
    margin-left: 96px;
}

.elec-process.board-detail .flow-container .stage-item + .stage-item {
    margin-left: 10px;
}

.elec-process .define-progress.el-progress--circle .el-progress__text {
    font-size: 12px;
    top: 50%;
}

.elec-process .define-progress.el-progress--circle path.el-progress-circle__track {
    stroke: #D3E2F8;
}

.elec-process .define-progress .el-progress__text {
    font-size: 12px !important;
}

.elec-process:not(.board-detail) .flow-container .stage-item + .stage-item::before {
    content: '';
    width: 72px;
    height: 1px;
    position: absolute;
    left: -84px;
    top: 40px;
    border-bottom: 4px dotted #D3E2F8;
}

/* task-board样式 */
.elec-process .top-section .flow-type,
.elec-process .top-section .date-search,
.monitor-pages .elec-process .date-search {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.elec-process .interval-ctrl,
.monitor-kpi-page .interval-ctrl {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.elec-process .interval-list,
.monitor-kpi-page .interval-list {
    position: absolute;
    width: 50px;
    top: 20px;
    left: -15px;
    padding: 2px 0;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    z-index: 100;
}

.elec-process .interval-list::before,
.monitor-kpi-page .interval-list::before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: calc(50% - 2px);
    width: 6px;
    height: 6px;
    background: #fff;
    border-top: 1px solid #E4E7ED;
    border-right: 1px solid #E4E7ED;
    transform: rotate(-45deg);
}

.elec-process .interval-list > li:hover,
.monitor-kpi-page .interval-list > li:hover {
    background-color: #F5F7FA;
}

.elec-process .interval-list > li.is-select,
.monitor-kpi-page .interval-list > li.is-select {
    position: relative;
    color: #0f5eff;
    background: #f3f8ff;
}

.elec-process .interval-list > li.is-select::before,
.monitor-kpi-page .interval-list > li.is-select::before {
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-left-color: #0f5eff;
    left: 0;
    top: 4px;
}

.elec-process .top-section .task-board {
    flex: 1;
    width: 100%;
}

.elec-process .top-section .task-board.el-radio-group .el-radio {
    height: 28px;
    max-width: 180px;
    line-height: 18px;
    color: #666;
    border-color: #A8AED3;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.elec-process .top-section .task-board.el-radio-group .el-radio + .el-radio {
    margin-left: 0px;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__input {
    display: none;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__label {
    padding-left: 0;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__label > i {
    margin-right: 3px;
    font-size: 14px;
}

.elec-process .top-section .task-board.el-radio-group .el-radio.is-checked {
    color: #0f5eff;
    border-color: #D9E8FD;
    background: #F3F8FF;
}

.elec-process .top-section .task-board.el-radio-group .el-radio__input.is-checked + .el-radio__label {
    color: #0f5eff;
}

.elec-process .bottom-section .chart-container {
    margin-bottom: 20px;
}

.elec-process .bottom-section .exec-container {
    height: calc(100% - 295px);
}

.elec-process .bottom-section .exec-type {
    float: right;
    margin-top: 3px;
}

.elec-process .exec-type .el-checkbox.is-bordered {
    padding: 0 5px;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    margin: 0;
    border: none;
}

.elec-process .exec-type .el-checkbox.is-bordered + .el-checkbox.is-bordered {
    margin-left: 1px;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__input {
    display: none;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label {
    padding-left: 0;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label > em {
    vertical-align: middle;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label > em > svg {
    width: 14px;
    margin-right: 3px;
}

.elec-process .exec-type .el-checkbox:not(.is-checked) .el-checkbox__label svg.lcSvg .cls-1 {
    fill: #ccc;
}

.elec-process .bottom-section .exec-container .exec-ul {
    height: calc(100% - 25px);
    overflow-y: auto;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li {
    font-size: 12px;
    color: #333;
    line-height: 28px;
    border-bottom: 1px solid #F6F8FA;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.expand {
    white-space: normal;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:nth-child(odd) {
    background: #F6F8FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:hover {
    background: #E6F0FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li > span > svg {
    width: 14px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.nostart > em {
    color: #eee;
}

/* =============================

    gf-grid 表格特殊样式

   ============================= */
.gf-ag-grid.ag-theme-balham .ag-cell .el-button {
    margin-right: 5px;
    margin-left: 0 !important;
}

.lcSvg.theme-color .cls-1 {
    fill: #0f5eff;
}

.optional-cell .el-button.is-disabled .svgSpan {
    cursor: not-allowed;
}

.optional-cell .el-button.is-disabled .svgSpan svg.lcSvg .cls-1 {
    fill: #C0C4CC;
}

.lcSvg.executing .cls-1 {
    fill: #4a8ef0;
}

.lcSvg.outTime .cls-1 {
    fill: #f5222e;
}

.lcSvg.abnormal .cls-1 {
    fill: #faae14;
}

.lcSvg.finish .cls-1 {
    fill: #52c41c;
}

/*=======================================


           领导驾驶舱 -- case样式


=========================================*/
.gf-page-drawer.elec-dashboard-drawer .el-drawer__body {
    padding: 5px;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen {
    top: 0;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer {
    width: 100% !important;
    padding: 0;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header {
    background: #0f5eff;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .drawer-title {
    color: #fff;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .el-button {
    border-color: #fff;
    color: #fff;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .el-button.primary {
    color: #0f5eff;
    background: #fff;
    border-color: #fff;
}

.gf-page-drawer.elec-dashboard-drawer .elec-process.board-detail > .full-screen-btn{
    top: 22px;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .elec-process.board-detail > .full-screen-btn{
    fill: #fff;
    top: 14px;
}

.elec-process.board-detail > .full-screen-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 170px;
    top: 12px;
    cursor: pointer;
}

.elec-process .drag-container .right .full-screen-btn {
    width: 19px;
    height: 19px;
    cursor: pointer;
    margin-right: 10px;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen
.elec-process.board-detail > .full-screen-btn > i > svg > path {
    fill: #ffffff;
}

.elec-process.board-detail .stage-container {
    display: flex;
    min-height: calc(50% - 5px);
}

.elec-process.board-detail .stage-container + .stage-container {
    margin-top: 10px;
}

.elec-process.board-detail .stage-container .stage-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-bottom: 15px;
}

.elec-process.board-detail .stage-item {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 25px;
}

.elec-process.board-detail .stage-item .stage-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 35px;
    color: #666;
    border: 1px solid #E9EAED;
    padding: 0 10px 0 20px;
    cursor: pointer;
}

.elec-process.board-detail .stage-item:not(:first-child) .stage-item-title {
    padding-left: 30px;
}

.elec-process.board-detail .process-list .process-item {
    border: 1px solid #F1F1F1;
    padding: 5px;
    margin-top: 5px;
}

.elec-process.board-detail .process-list > .process-item {
    border: none;
}

.elec-process.board-detail .process-list .process-item.active,
.elec-process.board-detail .step-comp.active {
    border: 2px dashed #8ea9e0;
}

.elec-process.board-detail .process-list .process-item + .process-item {
    margin-top: 10px;
}

.elec-process.board-detail .process-item .process-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: #333;
    margin-bottom: 5px;
    padding: 5px 10px 5px 0;
    cursor: pointer;
}

.elec-process.board-detail .stage-item:not(:first-child) .stage-item-title::before {
    content: '';
    display: block;
    position: absolute;
    left: -13px;
    top: 4px;
    width: 24px;
    height: 25px;
    border-top: inherit;
    border-right: inherit;
    background: #fff;
    transform: rotate(45deg);
    z-index: 1;
}

.elec-process.board-detail .stage-item .stage-item-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -13px;
    width: 24px;
    height: 25px;
    border-top: inherit;
    border-right: inherit;
    background: #fff;
    transform: rotate(45deg);
}

.elec-process.board-detail .stage-item.active:not(:first-child):not(.add-btn) .stage-item-title::before,
.elec-process.board-detail .stage-item.active .stage-item-title::after {
    top: 3px;
    right: -14px;
}

.elec-process.board-detail .stage-item.add-btn .stage-item-title::after {
    border-left-color: #E8EAEF;
}

.elec-process.board-detail .process-item .process-item-title > .title,
.elec-process.board-detail .stage-item .stage-item-title > span.title {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title {
    position: relative;
    width: 100%;
    height: 35px;
    margin-left: -10px;
    padding: 0 10px;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title > span > .name {
    max-width: 90px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title > span > .num {
    margin-left: 5px;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title > span.status {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 14px;
    height: 14px;
    z-index: 1;
}

.elec-process.board-detail .process-item .process-item-title > .title > .title-input,
.elec-process.board-detail .stage-item .stage-item-title > span.title > .title-input {
    flex: 1;
}

.elec-process.board-detail .process-item .process-item-title > .title > .title-input > input,
.elec-process.board-detail .stage-item .stage-item-title > .title > .title-input > input {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 25px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process.board-detail .process-item .process-item-title > .title > .title-input.is-disabled > input,
.elec-process.board-detail .stage-item .stage-item-title > span.title > .title-input.is-disabled > input {
    font-size: 12px;
    color: inherit;
    line-height: 35px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.elec-process.board-detail .process-item.step-group .process-item-title > .title > .title-input.is-disabled > input {
    font-weight: normal;
}

.elec-process.board-detail .stage-item .stage-item-content {
    position: relative;
    width: 100%;
    background: #fff;
}

.elec-process.board-detail .stage-item .step-list {
    background: #fff;
}

.elec-process.board-detail .process-item.step-group .step-list {
    background: #f2f2f2;
}

.elec-process.board-detail .step-comp {
    position: relative;
    height: 35px;
    line-height: 35px;
    border: 1px solid #F1F1F1;
    color: #666;
    background: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.elec-process.board-detail .step-comp > .status {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 14px;
    height: 14px;
}


.elec-process.board-detail .step-comp > .step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 33px;
}

.elec-process.board-detail .step-comp > .step-icon > svg {
    width: 22px;
    height: 20px;
}

.elec-process.board-detail .step-comp > .step-icon.person > svg {
    width: 22px;
    height: 18px;
    fill: #666;
}

.elec-process.board-detail .step-comp > .step-icon.indicator > svg {
    width: 25px;
    height: 25px;
    fill: #DB713E;
}

.elec-process.board-detail .step-comp > .step-icon.robot > svg {
    fill: #67c23a;
}

.elec-process.board-detail .step-comp > .step-icon.process > svg {
    fill: #0f5eff;
}

.elec-process.board-detail .step-comp > span.name {
    padding: 0 20px 0 30px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.elec-process.board-detail .stage-item .step-list .step-group {
    background: #f2f2f2;
    margin: 10px 0;
}

.monitor-pages .drag-column:not(.fixed-drag-column),
.elec-process-dashboard .drag-column,
.elec-process.board-detail > section .bottom.left > .drag-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 33px);
    height: 100%;
    z-index: 2021;
}

.monitor-pages .drag-column .close-container,
.elec-process-dashboard .drag-column .close-container,
.elec-process.board-detail > section .bottom.left > .drag-column
.close-container {
    position: relative;
    flex: 1;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

.monitor-pages .drag-column .close-container .el-icon-circle-close,
.elec-process-dashboard .drag-column .close-container .el-icon-circle-close,
.elec-process.board-detail > section .bottom.left > .drag-column
.close-container .el-icon-circle-close {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    font-size: 60px;
    color: #333;
    cursor: pointer;
}

.monitor-pages .drag-column .close-container:hover .el-icon-circle-close:hover,
.elec-process-dashboard .drag-column .close-container:hover .el-icon-circle-close:hover,
.elec-process.board-detail > section .bottom.left > .drag-column
.close-container:hover .el-icon-circle-close:hover {
    color: #ccc;
}

.monitor-pages .drag-column .drag-container,
.elec-process-dashboard .drag-column .drag-container,
.elec-process.board-detail .drag-column .drag-container {
    width: 100%;
    height: 450px;
    min-height: 300px;
    background: #fff;
    padding: 24px 15px 30px 30px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
}

.monitor-pages .drag-column .drag-container .full-screen-btn,
.elec-process-dashboard .drag-column .drag-container .full-screen-btn,
.elec-process.board-detail .drag-column .drag-container .full-screen-btn {
    color: #A8AED3;
    margin-right: 12px;
}


















