.gf-tab-view.elec-process-dashboard {
    flex-direction: column;
}

/*=======================================


           流程面板展示首页


=========================================*/
.elec-process-dashboard .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px;
    margin-top: 10px;
    overflow-y: auto;
}

.elec-process-dashboard .card-container .module-card {
    position: relative;
    width: 18%;
    height: 0;
    padding-bottom: 13%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}


.elec-process-dashboard .card-container .module-card:hover,
.elec-process-dashboard .card-container .module-card.active {
    background: #EEF5FC;
}

.elec-process-dashboard .card-container .module-card .el-card__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.elec-process-dashboard .card-container .module-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.elec-process-dashboard .card-container .module-card .content > p {
    text-align: center;
    margin: 0;
    color: #666;
}

.elec-process-dashboard .card-container .module-card.active .content > p.title,
.elec-process-dashboard .card-container .module-card:hover .content > p.title {
    color: #333;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer {
    height: 40%;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer > i {
    font-size: 43px;
}

.elec-process-dashboard .card-container .module-card .content > p.imgContainer > i > svg {
    width: 25%;
    fill: #666;
}

.elec-process-dashboard .card-container .module-card:hover .content > p.imgContainer > i > svg,
.elec-process-dashboard .card-container .module-card.active .content > p.imgContainer > i > svg {
    fill: #476Dbe;
}

.elec-process-dashboard .card-container .module-card .content > p .el-progress .el-progress__text {
    font-size: 14px !important;
}

/*=====================================

      elec-process 电子流程样式

=======================================*/
.elec-process.gf-tab-view {
    position: relative;
}


.elec-process {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.elec-process > section {
    display: flex;
    padding: 10px;
}

.elec-process > section.top-section {
    flex-wrap: wrap;
    justify-content: space-between;
}

.elec-process .top-section > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.elec-process .top-section .section-label {
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    line-height: 28px;
    margin-right: 5px;
}

.elec-process > section > div {
    position: relative;
}

.elec-process > section.bottom-section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.elec-process > section.bottom-section .rightExpandBtn {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.elec-process > section.bottom-section .rightExpandBtn:hover svg .st0 {
    fill: #476Dbe;
}

.elec-process > section .section-title {
    position: relative;
    font-size: 12px;
    line-height: 28px;
    margin-left: 12px;
    margin-bottom: 5px;
}

.elec-process > section .section-title::before {
    display: block;
    position: absolute;
    content: '';
    width: 3px;
    height: 12px;
    background: #476DBE;
    left: -10px;
    top: 8px;
}

.elec-process > section .bottom.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 371px);
    height: 100%;
}

.elec-process > section .bottom.left > .drag-column {
    flex: 1;
    height: 100%;
    min-height: 320px;
}

.elec-process > section .bottom.left > .drag-column .ag-grid-box .gf-ag-grid {
    height: 100%;
}

.elec-process > section > .right {
    width: 380px;
    flex: 0 0 380px;
    padding-left: 10px;
}

.elec-process > section i.el-icon-refresh {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-left: 5px;
    line-height: 26px;
    cursor: pointer;
}

.elec-process > section .el-icon-refresh:hover {
    color: #476DBE;
}

.elec-process > section .drag-bar-line {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #eee;
    margin: 10px auto;
    z-index: 1;
}

.elec-process > section .drag-bar-line > p {
    position: absolute;
    width: 35px;
    top: -9px;
    left: calc(50% - 17px);
    color: #999;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
}

.elec-process > section .drag-bar-line > p:hover {
    color: #476Dbe;
}

.elec-process .flow-legend {
    position: absolute;
    top: 0;
    right: 35px;
}

.elec-process .flow-legend > span {
    font-size: 12px;
}

.elec-process .flow-legend > span + span {
    margin-left: 5px;
}

.elec-process .flow-legend > span > i {
    margin-right: 3px;
}

.elec-process .flow-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    position: relative;
    padding: 20px;
    height: 135px;
    min-height: 135px;
    overflow-x: auto;
    overflow-y: hidden;
}

.elec-process.board-detail .flow-container {
    overflow-y: auto;
}

.elec-process .flow-container .stage-item {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}

.elec-process .flow-container .stage-item .stage-item-title {
    white-space: nowrap;
}

.elec-process .flow-container .stage-item.active .stage-item-title {
    border: 2px dashed #8ea9e0;
    font-weight: bold;
}

.elec-process .flow-container .stage-item + .stage-item {
    margin-left: 96px;
}

.elec-process.board-detail .flow-container .stage-item + .stage-item {
    margin-left: 10px;
}

.elec-process .define-progress.el-progress--circle .el-progress__text{
    font-size: 12px;
    transform: scale(.8);
    top: calc(50% - 5px);
}

.elec-process .define-progress .el-progress__text{
    font-size: 12px!important;
}

.elec-process:not(.board-detail) .flow-container .stage-item + .stage-item::before {
    content: '';
    width: 72px;
    height: 1px;
    background: #DFE1E5;
    position: absolute;
    left: -84px;
    top: 24px;
}

/* task-board样式 */
.elec-process .top-section .task-board .flow-type,
.elec-process .top-section .task-board .date-search{
    display: flex;
    margin-bottom: 5px;
}

.elec-process .top-section .task-board .date-search{
    margin-left: auto;
}

.elec-process .top-section .task-board.el-radio-group .el-radio {
    height: 28px;
    max-width: 180px;
    line-height: 18px;
    color: #666;
    border-color: #EAEDF1;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.elec-process .top-section .task-board.el-radio-group .el-radio + .el-radio {
    margin-left: 0px;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__input {
    display: none;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__label {
    padding-left: 0;
}

.elec-process .top-section .task-board.el-radio-group .el-radio .el-radio__label > i {
    margin-right: 3px;
    font-size: 14px;
}

.elec-process .top-section .task-board.el-radio-group .el-radio.is-checked {
    color: #476DBE;
    border-color: #D9E8FD;
    background: #F3F8FF;
}

.elec-process .top-section .task-board.el-radio-group .el-radio__input.is-checked + .el-radio__label {
    color: #476DBE;
}

.elec-process .bottom-section .chart-container {
    margin-bottom: 20px;
}

.elec-process .bottom-section .exec-container {
    height: calc(100% - 295px);
}

.elec-process .bottom-section .exec-type {
    float: right;
    margin-top: 3px;
}

.elec-process .exec-type .el-checkbox.is-bordered {
    padding: 0 5px;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    margin: 0;
    border: none;
}

.elec-process .exec-type .el-checkbox.is-bordered+.el-checkbox.is-bordered {
    margin-left: 1px;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__input {
    display: none;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label {
    padding-left: 0;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label>i {
    vertical-align: middle;
}

.elec-process .exec-type .el-checkbox.is-bordered .el-checkbox__label>i>svg {
    width: 14px;
    margin-right: 3px;
}

.elec-process .exec-type .el-checkbox:not(.is-checked) .el-checkbox__label svg.lcSvg .cls-1 {
    fill: #ccc;
}

.elec-process .bottom-section .exec-container .exec-ul {
    height: calc(100% - 25px);
    overflow-y: auto;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li {
    font-size: 12px;
    color: #333;
    line-height: 28px;
    border-bottom: 1px solid #F6F8FA;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.expand {
    white-space: normal;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:nth-child(odd) {
    background: #F6F8FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li:hover {
    background: #E6F0FA;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li > span > svg {
    width: 14px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.elec-process .bottom-section .exec-container .exec-ul .exec-li.nostart > i {
    color: #eee;
}

/* =============================

    gf-grid 表格特殊样式

   ============================= */
.gf-ag-grid.ag-theme-balham .ag-cell .el-button {
    margin-right: 5px;
    margin-left: 0 !important;
}

.lcSvg.theme-color .cls-1 {
    fill: #476dbe;
}

.optional-cell .el-button.is-disabled .svgSpan {
    cursor: not-allowed;
}

.optional-cell .el-button.is-disabled .svgSpan svg.lcSvg .cls-1 {
    fill: #C0C4CC;
}

.lcSvg.theme-color .cls-1 {
    fill: #476dbe;
}

.lcSvg.executing .cls-1 {
    fill: #4a8ef0;
}

.lcSvg.outTime .cls-1 {
    fill: #f5222e;
}

.lcSvg.abnormal .cls-1 {
    fill: #faae14;
}

.lcSvg.finish .cls-1 {
    fill: #52c41c;
}

/*=======================================


           领导驾驶舱 -- case样式


=========================================*/
.gf-page-drawer.elec-dashboard-drawer .el-drawer__body {
    padding: 5px;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen {
    top: 0;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer{
    width: 100%!important;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header {
    background: #476Dbe;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .drawer-title {
    color: #fff;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .el-button {
    border-color: #fff;
    color: #fff;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .el-drawer__header .el-button.primary {
    color: #476Dbe;
    background: #fff;
    border-color: #fff;
}

.elec-process.board-detail .full-screen-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 170px;
    top: 12px;
    cursor: pointer;
}

.gf-page-drawer.elec-dashboard-drawer.full-screen .elec-process.board-detail
.full-screen-btn>i>svg>path {
    fill: #ffffff;
}

.elec-process.board-detail .stage-container {
    display: flex;
    min-height: calc(50% - 5px);
}

.elec-process.board-detail .stage-container + .stage-container {
    margin-top: 10px;
}

.elec-process.board-detail .stage-container .stage-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-bottom: 15px;
}

.elec-process.board-detail .stage-item {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 25px;
}

.elec-process.board-detail .stage-item .stage-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 35px;
    color: #666;
    border: 1px solid #E9EAED;
    padding: 0 10px 0 20px;
    cursor: pointer;
}

.elec-process.board-detail .stage-item:not(:first-child) .stage-item-title {
    padding-left: 30px;
}

.elec-process.board-detail .process-list .process-item {
    border: 1px solid #F1F1F1;
    padding: 5px;
    margin-top: 5px;
}

.elec-process.board-detail .process-list>.process-item {
    border: none;
}

.elec-process.board-detail .process-list .process-item.active,
.elec-process.board-detail .step-comp.active {
    border: 2px dashed #8ea9e0;
}

.elec-process.board-detail .process-list .process-item + .process-item {
    margin-top: 10px;
}

.elec-process.board-detail .process-item .process-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: #333;
    margin-bottom: 5px;
    padding: 5px 10px 5px 0;
    cursor: pointer;
}

.elec-process.board-detail .stage-item:not(:first-child) .stage-item-title::before {
    content: '';
    display: block;
    position: absolute;
    left: -13px;
    top: 4px;
    width: 24px;
    height: 25px;
    border-top: inherit;
    border-right: inherit;
    background: #fff;
    transform: rotate(45deg);
    z-index: 1;
}

.elec-process.board-detail .stage-item .stage-item-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -13px;
    width: 24px;
    height: 25px;
    border-top: inherit;
    border-right: inherit;
    background: #fff;
    transform: rotate(45deg);
}

.elec-process.board-detail .stage-item.active:not(:first-child):not(.add-btn) .stage-item-title::before,
.elec-process.board-detail .stage-item.active .stage-item-title::after {
    top: 3px;
    right: -14px;
}

.elec-process.board-detail .stage-item.add-btn .stage-item-title::after {
    border-left-color: #E8EAEF;
}

.elec-process.board-detail .process-item .process-item-title>.title,
.elec-process.board-detail .stage-item .stage-item-title > span.title {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title {
    position: relative;
    width: 100%;
    height: 35px;
    margin-left: -10px;
    padding: 0 10px;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title>span>.name {
    max-width: 90px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title>span>.num {
    margin-left: 5px;
}

.elec-process.board-detail .stage-item .stage-item-title > span.title>span.status {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 14px;
    height: 14px;
    z-index: 1;
}

.elec-process.board-detail .process-item .process-item-title>.title > .title-input,
.elec-process.board-detail .stage-item .stage-item-title > span.title > .title-input {
    flex: 1;
}

.elec-process.board-detail .process-item .process-item-title>.title > .title-input > input,
.elec-process.board-detail .stage-item .stage-item-title > .title > .title-input > input {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 25px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elec-process.board-detail .process-item .process-item-title>.title > .title-input.is-disabled > input,
.elec-process.board-detail .stage-item .stage-item-title > span.title > .title-input.is-disabled > input {
    font-size: 12px;
    color: inherit;
    line-height: 35px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.elec-process.board-detail .process-item.step-group .process-item-title>.title > .title-input.is-disabled > input {
    font-weight: normal;
}

.elec-process.board-detail .stage-item .stage-item-content {
    position: relative;
    width: 100%;
    background: #fff;
}

.elec-process.board-detail .stage-item .step-list {
    background: #fff;
}

.elec-process.board-detail .process-item.step-group .step-list {
    background: #f2f2f2;
}

.elec-process.board-detail .step-comp {
    position: relative;
    height: 35px;
    line-height: 35px;
    border: 1px solid #F1F1F1;
    color: #666;
    background: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.elec-process.board-detail .step-comp> .status {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 14px;
    height: 14px;
}


.elec-process.board-detail .step-comp > i.step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 33px;
}

.elec-process.board-detail .step-comp > i.step-icon>svg {
    width: 22px;
    height: 20px;
}

.elec-process.board-detail .step-comp > i.step-icon.person>svg {
    width: 22px;
    height: 18px;
    fill: #666;
}

.elec-process.board-detail .step-comp > i.step-icon.indicator>svg {
    width: 25px;
    height: 25px;
    fill: #DB713E;
}

.elec-process.board-detail .step-comp > i.step-icon.robot>svg {
    fill: #67c23a;
}

.elec-process.board-detail .step-comp > i.step-icon.process>svg {
    fill: #476DBE;
}

.elec-process.board-detail .step-comp > span.name {
    padding: 0 20px 0 30px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.elec-process.board-detail .stage-item .step-list .step-group {
    background: #f2f2f2;
    margin: 10px 0;
}

.elec-process.board-detail > section .bottom.left > .drag-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.elec-process.board-detail > section .bottom.left > .drag-column
.close-container {
    position: relative;
    flex: 1;
    height: 100%;
}

.elec-process.board-detail > section .bottom.left > .drag-column
.close-container:hover {
    background: rgba(255, 255, 255, .5);
}

.elec-process.board-detail > section .bottom.left > .drag-column
.close-container:hover .el-icon-circle-close{
    display: block;
}

.elec-process.board-detail > section .bottom.left > .drag-column
.close-container .el-icon-circle-close {
    display: none;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    font-size: 60px;
    color: #333;
    cursor: pointer;
}

.elec-process.board-detail > section .bottom.left > .drag-column
.close-container:hover .el-icon-circle-close:hover{
    color: #ccc;
}

.elec-process.board-detail .drag-column .drag-container{
    width: 100%;
    height: 450px;
    min-height: 300px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
























