/*============================

      little-case样式

==============================*/
.little-case-page {
    height: 100%;
}

.little-case-page .option-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0;
}

.little-case-page .option-panel button {
    padding: 0 15px;
    margin-left: 0;
    line-height: 18px;
}


.little-case-page .option-panel .alter-radio-btn .el-radio-button__inner {
    padding: 6px 5px;
}

.little-case-page .option-panel .alter-radio-btn
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #476DBE;
    border-color: #476DBE;
    background-color: transparent;
}

.little-case-page .option-panel .alter-radio-btn
.el-radio-button:not(.is-active) .el-radio-button__inner:hover {
    color: #476DBE;
}

.little-case-page .option-panel button.el-button--primary {
    color: #476DBE;
    border: 1px solid #476DBE;
    background: #fff;
}

.little-case-page .option-panel button.el-button--primary.is-disabled {
    color: #a0cfff;
    border-color: #a0cfff;
}

.little-case-page .option-panel .search-input {
    width: 200px;
}

.little-case-page .option-panel .search-input input {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    border-radius: 3px;
    border-color: #eaeaea;
}

.little-case-page .option-panel .search-input .el-input__icon {
    line-height: 26px;
}

.little-case-page .option-panel .textbtn {
    color: #476DBE;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #476DBE;
    border-radius: 3px;
    padding: 0 5px;
    line-height: 18px;
}

/*============================

      tab样式

==============================*/

#app .gf-dop .little-case .el-tabs.normal-tab {
    width: 100%;
    height: calc(100% - 20px);
}

#app .gf-dop .little-case .el-tabs.normal-tab > .el-tabs__header
.el-tabs__nav {
    border-radius: 0px;
}

#app .gf-dop .little-case .el-tabs.el-tabs.normal-tab .el-tabs__header
.el-tabs__item {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    background: #fff;
}

#app .gf-dop .little-case .el-tabs.el-tabs.normal-tab .el-tabs__header
.el-tabs__item.is-active {
    position: relative;
    color: #476DBE;
    border-bottom: none;
}

#app .gf-dop .little-case .el-tabs.el-tabs.normal-tab .el-tabs__header
.el-tabs__item.is-active::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    background: #476DBE;
}

#app .gf-dop .little-case .el-tabs.normal-tab .el-tabs__content {
    border-radius: 0;
    height: calc(100% - 30px);
    padding-top: 10px;
}

#app .gf-dop .little-case .el-tabs.normal-tab .el-tabs__content
.ag-theme-blue .ag-root,
.little-case .el-tabs.normal-tab .el-tabs__content
.ag-theme-blue .ag-header {
    border: none;
}

#app .gf-dop .little-case .el-tabs.normal-tab .el-tabs__content
.gf-grid-pagination-bar {
    border: none;
}

/*============================

      checkbox样式

==============================*/

.little-case .el-checkbox.is-checked:not(.is-disabled) .el-checkbox__label {
    /*color: #476DBE;*/
    color: #409EFF;
}

.little-case .el-checkbox .el-checkbox__label {
    font-size: 14px;
    padding-left: 5px;
}

.little-case .el-checkbox + .el-checkbox {
    margin-left: 0;
}

.little-case .el-checkbox__inner {
    width: 12px;
    height: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 2px;
}

.little-case .el-checkbox__input.is-checked:not(.is-disabled) .el-checkbox__inner {
    /*background: #476DBE;*/
    /*border: 1px solid #476DBE;*/
    font-weight: bold;
}

.little-case .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    transform: scale(.7);
}

.little-case .el-checkbox__input.is-checked .el-checkbox__inner::after {
    border-width: 2px;
    height: 9px;
    top: -2px;
    width: 3px;
    left: 3px;
}

/*============================

      流程看板样式

==============================*/
.little-case.work-flow-module {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.little-case.work-flow-module > section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.little-case.work-flow-module > section>.content {
    flex: 1;
    height: 100%;
    overflow: scroll;
}

.little-case.work-flow-module > section>.content::-webkit-scrollbar-thumb {
    background: transparent;
}

.little-case.work-flow-module > section>.content:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.little-case.work-flow-module > section.common-task-section {
    width: 250px;
    height: 100%;
    margin-right: 10px;
    border-right: 1px solid #EAEDF1;
}

.little-case.work-flow-module > section.common-task-section > span {
    color: #333;
    line-height: 32px;
    padding: 0 10px;
}

.little-case.work-flow-module > section.common-task-section > .stage-item {
    height: calc(100% - 30px);
    margin: 0;
    padding-right: 10px;
    overflow-y: scroll;
}

.little-case.work-flow-module > section.common-task-section > .stage-item::-webkit-scrollbar-thumb {
    background: transparent;
}

.little-case.work-flow-module > section.common-task-section > .stage-item:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.little-case.work-flow-module > section.common-task-section > .stage-item
.stage-item-content {
    max-height: calc(100% - 20px);
}

.little-case.work-flow-module > section.taskSection > .option-panel > span {
    color: #333;
    font-size: 14px;
}

.little-case.work-flow-module > section.taskSection {
    width: calc(100% - 260px);
    flex: 1;
}

.little-case.work-flow-module .stage-container {
    display: flex;
    min-height: calc(50% - 5px);
}

.little-case.work-flow-module .stage-container + .stage-container {
    margin-top: 10px;
}

.little-case.work-flow-module .stage-container .stage-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-bottom: 15px;
}

.little-case.work-flow-module .stage-item.add-btn {
    width: 150px;
    height: 44px;
}

.little-case.work-flow-module .stage-item {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 25px;
}

.little-case.work-flow-module .common-task-section .stage-container .stage-item {
    margin-right: 0;
}

.little-case.work-flow-module .stage-ghost {
    box-shadow: 0 0 10px #476DBE;
}

.little-case.work-flow-module .stage-item .stage-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44px;
    color: #fff;
    background: #585c73;
    padding: 0 10px 0 20px;
    cursor: pointer;
}

.little-case.work-flow-module .stage-item.edit .stage-item-title {
    background: #476DBE;
}

.little-case.work-flow-module .process-list .process-item {
    border: 1px solid #eaeaea;
    padding: 5px;
    margin-top: 5px;
}

.little-case.work-flow-module .process-list .process-item.active,
.little-case.work-flow-module .step-comp.active {
    border: 2px dashed #8ea9e0;
}

.little-case.work-flow-module .process-list .process-item + .process-item {
    margin-top: 10px;
}

.little-case.work-flow-module .process-item .process-item-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: #333;
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.little-case.work-flow-module .process-item .process-item-title.edit {
    color: #fff;
    background: #476DBE;
}

.little-case.work-flow-module .process-item.step-group .process-item-title {
    color: #333;
}

.little-case.work-flow-module .stage-container.able-choosed .stage-item .stage-item-title {
    color: #fff;
    background: #FF9900;
}

.little-case.work-flow-module .stage-item.add-btn .stage-item-title {
    color: #666;
    background: #E8EAEF;
    justify-content: center;
}

.little-case.work-flow-module .stage-item:not(:first-child):not(.add-btn) .stage-item-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    border: 22px solid transparent;
    border-left: 14px solid #fff;
}

.little-case.work-flow-module .stage-item .stage-item-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: -36px;
    top: 0px;
    border: 22px solid transparent;
    border-left: 14px solid #585c73;
}

.little-case.work-flow-module .stage-item.edit .stage-item-title::after {
    border-left-color: #476DBE;
}

.little-case.work-flow-module .stage-container.able-choosed .stage-item
.stage-item-title::after {
    display: none;
}

.little-case.work-flow-module .stage-item.add-btn .stage-item-title::after {
    border-left-color: #E8EAEF;
}

.little-case.work-flow-module .process-item .process-item-title .drag-bar,
.little-case.work-flow-module .stage-item .stage-item-title .drag-bar {
    cursor: move;
    margin-right: 20px;
    transform: rotate(90deg);
}

.little-case.work-flow-module .process-item .process-item-title .drag-bar {
    margin-right: 5px;
    color: #476DBE;
}

.little-case.work-flow-module .process-item.step-group .process-item-title .drag-bar {
    color: #666;
}

.little-case.work-flow-module .stage-item.add-btn .stage-item-title .el-icon-plus {
    margin-right: 20px;
}

.little-case.work-flow-module .process-item .process-item-title>.title,
.little-case.work-flow-module .stage-item .stage-item-title > span.title {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.little-case.work-flow-module .stage-item .stage-item-title > span.title {
    height: 35px;
    margin-left: -10px;
    padding: 0 10px;
}

.little-case.work-flow-module .process-item .process-item-title > span.title .edit.is-disabled,
.little-case.work-flow-module .stage-item .stage-item-title > span.title .edit.is-disabled {
    display: none;
}

.little-case.work-flow-module .process-item .process-item-title:hover > span.title .edit.is-disabled,
.little-case.work-flow-module .stage-item .stage-item-title:hover > span.title .edit.is-disabled {
    display: block;
}

.little-case.work-flow-module .process-item .process-item-title > span.title .edit > i,
.little-case.work-flow-module .stage-item .stage-item-title > span.title .edit > i {
    font-size: 16px;
    line-height: 16px;
    margin-left: 3px;
    cursor: pointer;
}

.little-case.work-flow-module .process-item .process-item-title > span.title .edit > .el-icon-plus,
.little-case.work-flow-module .stage-item .stage-item-title > span.title .edit > .el-icon-plus {
    font-weight: bold;
}

.little-case.work-flow-module .process-item .process-item-title > span.title .edit > .fa.fa-edit,
.little-case.work-flow-module .stage-item .stage-item-title > span.title .edit > .fa.fa-edit {
    display: none;
}

.little-case.work-flow-module .process-item .process-item-title:hover > span.title .edit > .fa.fa-edit,
.little-case.work-flow-module .process-item .process-item-title:hover > span.title .edit > .fa.fa-trash-o,
.little-case.work-flow-module .stage-item .stage-item-title:hover > span.title .edit > .fa.fa-edit,
.little-case.work-flow-module .stage-item .stage-item-title:hover > span.title .edit > .fa.fa-trash-o {
    display: inline;
}

.little-case.work-flow-module .process-item .process-item-title>.title > .title-input,
.little-case.work-flow-module .stage-item .stage-item-title > span.title > .title-input {
    flex: 1;
}

.little-case.work-flow-module .process-item .process-item-title>.title > .title-input > input,
.little-case.work-flow-module .stage-item .stage-item-title > .title > .title-input > input {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 25px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.little-case.work-flow-module .process-item .process-item-title > span.title > .title-input .el-input__icon,
.little-case.work-flow-module .stage-item .stage-item-title > span.title > .title-input .el-input__icon {
    line-height: 20px;
}

.little-case.work-flow-module .process-item .process-item-title>.title > .title-input.is-disabled > input,
.little-case.work-flow-module .stage-item .stage-item-title > span.title > .title-input.is-disabled > input {
    font-size: 14px;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.little-case.work-flow-module .process-item.step-group .process-item-title>.title > .title-input.is-disabled > input {
    font-weight: normal;
}

.little-case.work-flow-module .stage-item .stage-item-content {
    position: relative;
    width: 100%;
    background: #fff;
}

.little-case.work-flow-module .stage-item .step-list {
    min-height: 40px;
    background: #fff;
}

.little-case.work-flow-module .process-item.step-group .step-list {
    background: #f2f2f2;
}

.little-case.work-flow-module .step-comp {
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eaeaea;
    color: #666;
    background: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.little-case.work-flow-module .step-comp > .step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 40px;
}

.little-case.work-flow-module .step-comp > .step-icon>svg {
    width: 25px;
    height: 25px;
}

.little-case.work-flow-module .step-comp > .step-icon.person>svg {
    width: 25px;
    height: 22px;
    fill: #666;
}

.little-case.work-flow-module .step-comp > .step-icon.indicator>svg {
    width: 30px;
    height: 30px;
    fill: #DB713E;
}

.little-case.work-flow-module .step-comp > .step-icon.robot>svg {
    fill: #67c23a;
}

.little-case.work-flow-module .step-comp > .step-icon.process>svg {
    fill: #476DBE;
}


.little-case.work-flow-module .step-comp > span.name {
    padding: 0 10px 0 40px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.little-case.work-flow-module .step-comp.active > span.name,
.little-case.work-flow-module .step-comp:hover > span.name {
    padding-right: 45px;
}

.little-case.work-flow-module .stage-item .step-list .step-group {
    background: #f2f2f2;
    margin: 10px 0;
}

.little-case.work-flow-module .step-comp .edit {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px;
    color: #476DBE;
}

.little-case.work-flow-module .process-item .process-item-title:hover > span.title .edit > .fa.fa-edit{
    color: #476DBE;
}

.little-case.work-flow-module .step-comp .edit > em {
    margin-left: 3px;
    cursor: pointer;
}

.little-case.work-flow-module .process-item .process-item-title:not(.edit):hover > span.title .edit > .fa.fa-trash-o,
.little-case.work-flow-module .step-comp .edit > i.fa.fa-trash-o {
    color: #F5222E;
}

.little-case.work-flow-module .step-comp:hover .edit,
.little-case.work-flow-module .step-comp.active .edit {
    display: block;
}

.little-case.work-flow-module .stepGhost {
    font-weight: bold;
    color: #476DBE;
    box-shadow: 0 0 10px #476DBE;
}

.little-case.work-flow-module .stage-item .stage-add .step-type {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    left: 13px;
    top: 36px;
    width: 200px;
    height: 132px;
    padding: 5px;
    z-index: 10;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0,0,0,.4);
}

.little-case.work-flow-module .stage-item .stage-add {
    position: relative;
}

.little-case.work-flow-module .stage-item .stage-add:hover .step-type {
    display: flex;
}


.little-case.work-flow-module .stage-item .stage-add .step-type::before{
    content: "";
    font-family: "fontawesome";
    display: block;
    position: absolute;
    top: -9px;
    left: 31px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}

.little-case.work-flow-module .stage-item .stage-add .step-type>li{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #666;
    cursor: pointer;
}

.little-case.work-flow-module .stage-item .stage-add .step-type>li.group {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.little-case.work-flow-module .stage-item .stage-add .step-type>li>svg {
    width: 100%;
    height: 100%;
    padding: 8px;
    fill: #666;
}

.little-case.work-flow-module .stage-item .stage-add .step-type>li:hover{
    color: #476DBE;
    background: #ECEDEF;
}

.little-case.work-flow-module .stage-item .stage-add .step-type>li:hover>svg{
    fill: #476DBE;
}

.little-case.work-flow-module .stage-item .add-task {
    display: none;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    color: #666;
    margin-top: 5px;
    border: 2px dashed #eaeaea;
    background: #f5f5f5;
}

.little-case.work-flow-module .stage-item>.add-task,
.little-case.work-flow-module .process-item.active>.add-task {
    display: block;
}

.little-case.work-flow-module .stage-item .add-task>span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.little-case.work-flow-module .stage-item .add-task>span:hover,
.little-case.work-flow-module .stage-item .add-task>span:hover>i {
    color: #476DBE;
    background: #E9EFFB;
    font-weight: bold;
}

.little-case.work-flow-module .stage-item .add-task > em {
    margin-right: 5px;
}

.el-drawer__wrapper.step-detail-drawer {
    top: 121px;
    bottom: 10px;
}

.step-detail-drawer .el-drawer__body,
.step-detail-drawer .form-page.step-detail,
.step-detail-drawer .form-page.step-detail .el-form {
    height: 100%;
}

.step-detail-drawer .form-page.step-detail {
    display: flex;
    flex-direction: column;
}

.step-detail-drawer .form-page.step-detail .el-form {
    width: 100%;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.step-detail-drawer .form-page.step-detail .el-form::-webkit-scrollbar-thumb {
    background: transparent;
}

.step-detail-drawer .form-page.step-detail .el-form:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.step-detail-drawer .form-page.step-detail .form__footer {
    background: #ffffff;
    height: 45px;
    line-height: 45px;
    text-align: right;
    border-bottom: 1px solid #EAEDF1;
    padding: 0 20px;
}

.step-detail-drawer .form-page.step-detail .form__footer .el-button {
    height: 25px;
    padding: 5px 19px;
    border-color: #E1E4E8;
    color: #333;
    background: transparent;
    font-size: 14px;
}

.step-detail-drawer .form-page.step-detail .form__footer .el-button.primary {
    color: #fff;
    background: #476DBE;
    border-color: #476DBE;
}

.step-detail-drawer .form-page.step-detail .form__footer .el-button + .el-button {
    margin-left: 3px;
}

.step-detail .node-set-container {
    margin-top: 5px;
}

.step-detail.gf-cur-dialog .el-form-item__content .el-input,
.step-detail.gf-cur-dialog .el-form-item__content .el-select,
.step-detail .node-set-container {
    max-width: 500px;
}

.step-detail .node-set-container .node-set + .node-set {
    margin-top: 5px;
}

.step-detail .node-set-container .node-set > .node-name {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.step-detail .node-set-container .node-set > .el-select {
    width: calc(50% - 55px);
    margin-left: 5px;
}

.step-detail .el-card .el-card__body .el-form {
    padding: 0;
}


.remind-comp .tab-label>em {
    margin-right: 3px;
    font-weight: bold;
}














