/*=====================================

        客户反馈 样式调整

=======================================*/

.feedbackPopover .el-form,
.feedbackPopover .el-form .el-form-item .el-form-item__label{
    padding: 0;
}

.feedbackPopover .el-form .el-form-item .el-form-item__label{
    margin-bottom: 5px;
}

.feedbackPopover .el-form .el-form-item{
    margin-bottom: 0;
}


/*=====================================

        任务配置表单 -- taskDefForm

=======================================*/
.el-form.taskDefForm {
    padding: 0;
    width: 850px;
}

.el-form.taskDefForm .el-rate{
    height: 28px;
    line-height: 26px;
}

.el-form.taskDefForm .el-rate .el-rate__item {
    line-height: 1;
}

.el-form.taskDefForm .el-rate .el-rate__icon {
    font-size: 20px;
}

.el-form.taskDefForm .multiple-select {
    width: 100%;
}

.el-form.taskDefForm .multiple-select .el-select__tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.el-form.taskDefForm .multiple-select .el-select__tags>span {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.el-form.taskDefForm .multiple-select .el-select__tags>input {
    min-width: 30px;
}

.el-form.taskDefForm .el-date-editor.el-input {
    min-width: 235px;
}