/*=====================================

        客户反馈 样式调整

=======================================*/

.feedbackPopover .el-form,
.feedbackPopover .el-form .el-form-item .el-form-item__label{
    padding: 0;
}

.feedbackPopover .el-form .el-form-item .el-form-item__label{
    margin-bottom: 5px;
}

.feedbackPopover .el-form .el-form-item{
    margin-bottom: 0;
}


/*=====================================

        任务配置表单 -- task-def-form

=======================================*/
.el-form.task-def-form {
    padding: 0;
    width: 850px;
}

.el-form.task-def-form .el-rate{
    height: 28px;
    line-height: 26px;
}

.el-form.task-def-form .el-rate .el-rate__item {
    line-height: 1;
}

.el-form.task-def-form .el-rate .el-rate__icon {
    font-size: 20px;
}

.el-form.task-def-form .multiple-select {
    width: 100%;
}

.el-form.task-def-form .multiple-select .el-select__tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.el-form.task-def-form .multiple-select .el-select__tags>span {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.el-form.task-def-form .multiple-select .el-select__tags>input {
    min-width: 30px;
}

.el-form.task-def-form .el-date-editor.el-input {
    min-width: 235px;
}

/*=====================================

      search-panel 搜索面板样式调整

=======================================*/
.el-form.search-panel {
    padding: 0;
}

.el-form.search-panel .el-form-item {
    margin-bottom: 5px;
    max-width: 350px;
}

.el-form.search-panel .btn-line {
    justify-content: center;
    padding: 5px 0;
}

.el-form.search-panel .el-form-item .el-form-item__label {
    color: #333;
}

.el-form.search-panel .el-form-item .el-form-item__content input{
    border-radius: 5px;
}

.el-form.search-panel .el-form-item .el-form-item__content .el-select{
    width: 100%;
}

.el-form.search-panel .option-btn {
    height: 28px;
    padding: 5px 19px;
    border-color: #E1E4E8;
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}

.el-form.search-panel .option-btn.el-button--primary {
    color: #fff;
    background: #476DBE;
    border-color: #476DBE;
}



















