/*=====================================

          消息通知抽屉样式调整

=======================================*/
.noticeDrawer.slotCanve {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 1s ease 0s;
}

.noticeDrawer .slotCanve .top {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eaeaea;
}

.noticeDrawer .slotCanve .top .search-input input {
    height: 28px;
    line-height: 28px;
    border-radius: 12px;
    background: #F6F8FA;
}

.noticeDrawer .slotCanve .top .search-input .el-input__suffix .el-icon-search {
    line-height: 28px;
}

.noticeDrawer .slotCanve .top .refreshIcon {
    color: #999;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.noticeDrawer .slotCanve .top .refreshIcon:hover {
    color: #34538b;
}


/*消息盒子*/

.noticeDrawer .slotCanve .container {
    display: flex;
    flex: 1;
    height: 100%;
}

.noticeDrawer .slotCanve .container .messagebox {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    overflow-y: auto;
}

.noticeDrawer .slotCanve .container .messagebox::-webkit-scrollbar {
    width: 7px;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    overflow: hidden;
    cursor: pointer;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi:hover {
    background: #EEF5FC;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi > .title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi > .title
.el-badge__content.is-fixed.is-dot {
    right: 0;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi > .content {
    color: #666;
    margin: 10px 0;
    text-indent: 1em;
}

.noticeDrawer .slotCanve .container .messagebox li.boxLi > .content > span {

}

.noticeDrawer .slotCanve .container .messagebox li.boxLi > .footer {
    font-size: 12px;
    color: #999;
    text-align: right;
}

/* 消息盒子里面的分页样式调整 */
.noticeDrawer .slotCanve .el-pagination .el-pagination__sizes .el-input {
    width: 80px;
}

.noticeDrawer .slotCanve .el-pagination .el-pagination__sizes .el-input > input {
    padding: 0 0 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: left;
}

.noticeDrawer .slotCanve .el-pagination .el-pagination--small .btn-next,
.noticeDrawer .slotCanve .el-pagination .el-pagination--small .btn-prev,
.noticeDrawer .slotCanve .el-pagination .el-pagination--small .el-pager li,
.noticeDrawer .slotCanve .el-pagination .el-pagination--small .el-pager li:last-child {
    line-height: 28px;
    height: 28px;
    font-size: 13px;
}


/* el-tree通用组件 */

.treeContainer {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .treeContainer {
        overflow-y: auto;
    }
}

.treeContainer::-webkit-scrollbar-thumb {
    background: transparent;
}

.treeContainer:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}


.el-tree .el-tree-node .el-tree-node__content {
    position: relative;
    display: flex;
    height: 40px;
    cursor: default;
}

.el-tree > .el-tree-node > .el-tree-node__content {
    color: #333;
}

.el-tree > .el-tree-node.is-expanded > .el-tree-node__content {
    color: #476DBE;
    background: transparent;
}

.el-tree .el-tree-node.is-expanded .el-tree-node__children .el-tree-node > .el-tree-node__content:hover,
.el-tree .el-tree-node.is-expanded .el-tree-node__children .el-tree-node.is-current > .el-tree-node__content {
    color: #476DBE;
    background: #EFF2F7;
}

.el-tree .el-tree-node.is-expanded .el-tree-node__children
.el-tree-node.is-current > .el-tree-node__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #476DBE;
}

.el-tree .el-tree-node.is-expanded .el-tree-node__children
.el-tree-node.is-current > .el-tree-node__content::after {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    border: 5px solid transparent;
    border-right: 5px solid #476DBE;
}

.el-tree .el-tree-node .el-tree-node__content .tree-node-icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background-size: cover;
    transform: rotate(0);
    margin: 0 7px 0 15px;
    padding: 0;
}

.el-tree .el-tree-node .el-tree-node__children
.el-tree-node > .el-tree-node__content {
    height: 30px;
}

.el-tree .el-tree-node.is-expanded .el-tree-node__children
.el-tree-node.is-current > .el-tree-node__content > .tree-node-icon::after {
    color: #476DBE;
}

.el-tree.compact .el-tree-node .el-tree-node__content {
    height: 30px;
}

.el-tree > .el-tree-node > .el-tree-node__content > .custom-tree-node {
    line-height: 40px;
}

.el-tree.compact .el-tree-node .el-tree-node__content > .custom-tree-node {
    line-height: 30px;
}


.el-tree > .el-tree-node .el-tree-node__children .el-tree-node > .el-tree-node__content
.custom-tree-node {
    line-height: 30px;
}

.el-tree > .el-tree-node .el-tree-node__content .custom-tree-node span[class^=el-icon-]:before {
    margin-right: 2px;
}


/* =============================

    el-scrollbar滚动条通用样式

   ============================= */
.el-scrollbar.pagescroll-vertical {
    height: 100%;
}

.el-scrollbar.pagescroll-vertical > .el-scrollbar__wrap {
    width: 100%;
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.el-scrollbar.pagescroll-vertical .el-scrollbar__wrap::-webkit-scrollbar,
.el-scrollbar.pagescroll-horizontal > .el-scrollbar__wrap::-webkit-scrollbar,
.el-scrollbar.pagescroll-vertical .el-scrollbar__wrap > .el-scrollbar__bar.is-horizontal,
.el-scrollbar.pagescroll-horizontal > .el-scrollbar__wrap > .el-scrollbar__bar.is-vertical {
    display: none;
}

.el-scrollbar.pagescroll-vertical .el-scrollbar__bar {
    right: 0;
}

.el-scrollbar.pagescroll-horizontal {
    height: 100%;
}

.el-scrollbar.pagescroll-horizontal > .el-scrollbar__wrap {
    width: 100%;
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow-y: hidden;
}

/* ======================================


               form 表单组件


   ======================================*/
.page-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.page-info-container .el-form {
    flex: 1;
    overflow-y: scroll;
    padding: 0 10%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .page-info-container .el-form {
        overflow-y: auto;
    }
}

.page-info-container .el-form::-webkit-scrollbar-thumb {
    background: transparent;
}

.page-info-container .el-form:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.page-info-container .el-form .el-form-item__label {
    color: #333;
}

.page-info-container .el-form .el-form-item__label {
    color: #333;
}

.page-info-container .el-form .el-input__inner {
    border: 1px solid #EFF2F7;
}

.page-info-container .el-form .el-form-item .el-form-item__content
.el-select .el-select__tags .el-tag.el-tag--info {
    color: #666;
    background: #f6f6f6;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}

.page-info-container .el-form .el-form-item .el-form-item__content
.el-select .el-select__tags .el-tag.el-tag--info .el-tag__close {
    background: transparent;
    color: #999;
    transform: scale(1);
}

.page-info-container .el-form .el-form-item .el-form-item__content
.el-select .el-select__tags .el-tag.el-tag--info .el-tag__close:hover {
    color: #ff0000;
}

.el-checkbox-group {
    line-height: 1;
}

.el-radio,
.el-checkbox {
    line-height: 28px;
    margin-right: 10px;
}

.el-form .el-form-item .el-form-item__content .el-radio,
.el-form .el-form-item .el-form-item__content .el-radio__inner,
.el-form .el-form-item .el-form-item__content .el-radio__input {
    line-height: 28px;
}

.el-radio .el-radio__label,
.el-checkbox .el-checkbox__label {
    padding-left: 4px;
}

/* ======================================


         按钮面板公共样式


   ======================================*/

/* 处理按钮面板 -- 含背景色实心按钮组，按钮居中，多用于表单提交*/
.action-panel {
    text-align: center;
}

.action-panel > button {
    padding: 5px 13px;
}

.action-panel > button.el-button--primary {
    border-color: #476DBE;
    background: #476DBE;
}

/* 操作按钮面板 -- 线框型按钮，多用于表格或其他操作 */
.option-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.option-panel.border-left {
    position: relative;
    padding: 5px 7px;
}

.option-panel.border-left::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 2px;
    height: 50%;
    background: #476DBE;
}

.option-panel .el-button {
    padding: 4px 10px;
    min-width: 70px;
}

.option-panel .el-button + .el-button {
    margin-left: 1px;
}

.option-panel button.el-button--default:not(.is-disabled) {
    color: #476DBE;
    border-color: #476DBE;
    background: transparent;
}

/* =============================

    fixedCircleBtn 定位圆形样式

   ============================= */
.fixedCircleBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    top: 40%;
    z-index: 1000;
}

.fixedCircleBtn > button {
    width: 77px;
    height: 77px;
    color: #fff;
    background: #476DBE;
    box-shadow: 0px 0px 10px 0px #476DBE;
    border: none;
    border-radius: 50%;
    padding: 0;
}

.fixedCircleBtn > button + button {
    margin-left: 0 !important;
    margin-top: 10px;
}

.fixedCircleBtn > button.red {
    background: #F5222E;
    box-shadow: 0px 0px 10px 0px #F5222E;
}

.fixedCircleBtn > button:hover {
    color: #476DBE;
    background: #EEF5FC;
    border: none;
}

.fixedCircleBtn > button.red:hover {
    color: #F5222E;
    background: #ffefef;
}

.fixedCircleBtn > button > i {
    display: block;
    font-size: 22px;
}

.fixedCircleBtn > button > span {
    display: block;
    margin: 3px 0px !important;
    font-size: 14px;
}

/* =============================

    el-card 卡片通用样式

   ============================= */
.el-card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
}

/*资源管理*/
.el-card + .el-card {
    /*margin-top: 10px;*/
}

.el-card .el-card__header {
    padding: 0;
    border-bottom: none;
}

.el-card .el-card__header .clearfix {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
}

.el-card .el-card__header .clearfix::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 50%;
    left: 1px;
    top: calc(25% + 5px);
    background: #476DBE;
}

.el-card .el-card__header .clearfix .title {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}


/* =============================

    gf-grid 表格通用样式

   ============================= */

/*表格样式*/
.gf-ag-grid.ag-theme-balham {
    font-family: SourceHanSansCN-Regular;
}

.ag-ltr .ag-pinned-left-cols-viewport {
    border-right: 1px dotted #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-root-wrapper {
    border-color: #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-header-cell-label {
    font-size: 14px;
}

.gf-ag-grid.ag-theme-balham .ag-header-cell,
.gf-ag-grid.ag-theme-balham .ag-header-group-cell {
    font-size: 13px;
    line-height: 21px;
}

.gf-ag-grid.ag-theme-balham .ag-root,
.gf-ag-grid.ag-theme-balham .ag-header {
    border-color: #EAEDF1;
    background: #F6F8FA;
}

.gf-ag-grid.ag-theme-balham .ag-header-cell {
    color: #333;
    font-weight: normal;
    border-right-color: transparent;
}

.gf-ag-grid.ag-theme-balham .ag-pinned-left-header,
.gf-ag-grid.ag-theme-balham .ag-pinned-right-header,
.gf-ag-grid.ag-theme-balham .ag-header-cell-resize::after {
    border-color: transparent;
}

.ag-theme-balham .ag-header .ag-header-cell::after,
.ag-theme-balham .ag-header .ag-header-group-cell::after {
    border: none;
}

.ag-theme-balham .ag-header:hover .ag-header-cell::after,
.ag-theme-balham .ag-header:hover .ag-header-group-cell::after {
    border-right: 1px solid #BDC3C7;
}

.gf-ag-grid.ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-last-left-pinned:not(.ag-cell-range-right),
.gf-ag-grid.ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-last-left-pinned:not(.ag-cell-range-right),
.gf-ag-grid.ag-theme-balham .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right),
.gf-ag-grid.ag-theme-balham .ag-pinned-left-header .ag-header-cell:last-child
.ag-header-cell-resize::after {
    border: none;
    border-right: 1px solid #EAEDF1;
}

.ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
    border: none;
    border-left: 1px solid #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    line-height: 25px;
}

.gf-ag-grid.ag-theme-balham .ag-cell {
    font-size: 14px;
    color: #666;
    line-height: 21px;
    border-right: none;
}

.gf-ag-grid.ag-theme-balham .ag-cell .status-circle-cell {
    display:flex;
    align-items:center
}

.gf-ag-grid.ag-theme-balham .ag-cell .status-circle-cell i.fa.fa-circle {
    margin: 0 10px;
}

.gf-ag-grid.ag-theme-balham .ag-cell .status-circle-cell i.fa.fa-circle.red {
    color: red;
}

.gf-ag-grid.ag-theme-balham .ag-cell .status-circle-cell i.fa.fa-circle.orange {
    color: orange;
}

.gf-ag-grid.ag-theme-balham .ag-cell .status-circle-cell i.fa.fa-circle.green {
    color: green;
}

.gf-ag-grid.ag-theme-balham .red-text {
    color: #F56C6C;
}

.gf-ag-grid.ag-theme-balham .orange-text {
    color: #E6A23C;
}

.gf-ag-grid.ag-theme-balham .green-text {
    color: #67C23A;
}

.gf-ag-grid.ag-theme-balham .ag-cell.align-center {
    text-align: center;
    line-height: 36px;
}

.gf-ag-grid.ag-theme-balham .ag-cell .el-button.grid-cell-op-link {
    color: #476DBE;
}

.gf-ag-grid.ag-theme-balham .ag-cell .el-button.grid-cell-op-link.red-cell {
    color: #ff0000;
}

.gf-ag-grid.ag-theme-balham .ag-cell .el-button.grid-cell-op-link.grey-cell {
    color: #999;
}

.gf-ag-grid.ag-theme-balham .ag-cell.invisible-cell {
    display: none;
}

.gf-ag-grid.ag-theme-balham .ag-cell .el-button + .el-button {
    margin-left: 5px;
}

.gf-ag-grid.ag-theme-balham .ag-cell.ag-cell-focus {
    border: 1px solid #9bc2e6;
}

.gf-ag-grid.ag-theme-balham .ag-row {
    border-color: #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-row.disabled-row .ag-cell {
    color: #ccc;
}

.gf-ag-grid.ag-theme-balham .ag-row.disabled-row .ag-cell[col-id="#op"] .el-button.grid-cell-op-link{
    display: none;
}

.gf-ag-grid.ag-theme-balham .ag-row-odd {
    background: #F6F8FA;
}

.gf-ag-grid.ag-theme-balham .ag-row-even {
    background: #fff;
}

.gf-ag-grid.ag-theme-balham .ag-row-selected,
.gf-ag-grid.ag-theme-balham .ag-row-hover {
    background-color: #E6F0FA !important;
    border-color: transparent;
}

.gf-grid-status-bar {
    border: none;
}

.gf-ag-grid.ag-theme-balham .ag-selection-checkbox .ag-icon {
    position: relative;
    font-size: 12px;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
}

.gf-ag-grid.ag-theme-balham .ag-selection-checkbox .ag-icon.ag-icon-checkbox-checked {
    background: #476DBE;
    border-color: #476DBE;
}

.gf-ag-grid.ag-theme-balham .ag-icon-checkbox-unchecked:before {
    display: none;
}

.gf-ag-grid.ag-theme-balham .ag-checkbox-input-wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid #EAEDF1;
    box-sizing: content-box;
    box-shadow: none;
}

.gf-ag-grid.ag-theme-balham .ag-selection-checkbox .ag-checkbox-input-wrapper::after {
    content: '';
    top: 0px;
    left: 4px;
    width: 6px;
    height: 11px;
}

.gf-ag-grid.ag-theme-balham .ag-selection-checkbox .ag-checkbox-input-wrapper.ag-checked::after {
    border-bottom: 2px solid #476DBE;
    border-right: 2px solid #476DBE;
    transform: rotate(39deg);
}

.gf-ag-grid.ag-theme-balham .el-button {
    font-size: 14px;
    font-weight: normal;
}
/* 表格单元格背景颜色样式 */
.red-backgoundColor {
    background-color: red;
}
.yellow-backgoundColor {
    background-color: yellow;
}
.gray-backgoundColor {
    background-color: rgb(204, 204, 204);
}

.gf-ag-grid.ag-theme-balham .ag-column-drop-horizontal {
    background: transparent;
    border-bottom: 1px solid #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-column-drop-cell {
    color: #666;
    border: 1px solid #ccc;
    background: transparent;
}

.gf-ag-grid.ag-theme-balham .ag-column-drop-horizontal {
    background: transparent;
    border-bottom: 1px solid #EAEDF1;
}

.gf-ag-grid.ag-theme-balham .ag-column-drop-cell {
    color: #666;
    border: 1px solid #ccc;
    background: transparent;
}


/* =============================

    gf-grid-curd 表格通用样式

   ============================= */
/*.ag-grid-box {*/
/*    height: 94% !important;*/
/*}*/
.ag-grid-box .grid-action-panel {
    border: none;
    padding-bottom: 1px;
}

.ag-grid-box .grid-action-panel .action-btn,
.ag-grid-box .grid-action-panel .el-button-group > button {
    color: #476DBE;
    font-size: 14px;
    border: 1px solid #476DBE;
    border-radius: 3px;
    background: transparent;
    padding: 3px 10px;
}

.ag-grid-box .grid-action-panel .action-btn.is-disabled,
.ag-grid-box .grid-action-panel .el-button-group > button.is-disabled,
.ag-grid-box .grid-action-panel .action-btn.is-disabled:focus,
.ag-grid-box .grid-action-panel .el-button-group > button.is-disabled:focus,
.ag-grid-box .grid-action-panel .action-btn.is-disabled:hover,
.ag-grid-box .grid-action-panel .el-button-group > button.is-disabled:hover {
    color: #CCCCCC;
    border-color: #EAEDF1;
    background-color: #F6F6F6;
}

.ag-grid-box .grid-action-panel .action-btn + button,
.ag-grid-box .grid-action-panel .el-button-group > button + button {
    margin-left: 2px;
}

.el-button-group .el-button--primary:not(:first-child):not(:last-child) {
    border-left-color: inherit;
    border-right-color: inherit;
    border-radius: 3px;
}

.ag-grid-box .grid-action-panel .el-button-group > button > i {
    display: none;
}

.ag-grid-box .grid-action-panel .right .el-input {
    width: 371px;
}

.ag-grid-box .grid-action-panel .right input {
    color: #666;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    border-color: #EAEDF1;
}

.ag-grid-box .grid-action-panel .right .el-input__suffix .el-input__icon {
    color: #666;
    font-size: 16px;
    line-height: 29px;
}

.ag-grid-box .grid-action-panel .right button {
    height: 29px;
    line-height: 29px;
    padding: 0 5px;
    border: none;
}

.ag-grid-box .grid-action-panel .right button > i {
    font-size: 19px;
    font-weight: bold;
    line-height: 29px;
    color: #999;
}

.ag-grid-box .grid-action-panel .right button > span {
    display: none;
}

.ag-grid-box .grid-action-panel .right button.is-plain:focus > i,
.ag-grid-box .grid-action-panel .right button.is-plain:hover > i {
    color: #476DBE;
}

.ag-grid-box .grid-action-panel .right .grid-toolbar-more i {
    height: 29px;
    line-height: 29px;
    padding: 0 2px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    color: #999;
}

.ag-grid-box .grid-action-panel .right .grid-toolbar-more i:hover {
    color: #476DBE;
}

.ag-grid-box .gf-grid-status-bar {
    border: 1px solid #eaeaea;
    border-top: none;
}

.ag-grid-box .gf-grid-status-bar .el-pagination {
    text-align: right;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .gf-grid-status-button{
    display: none;
}

.ag-grid-box .gf-grid-status-bar .el-pagination button,
.ag-grid-box .gf-grid-status-bar .el-pagination span:not([class*=suffix]) {
    font-size: 12px;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__total {
    float: left;
    margin-right: 0;
    padding-right: 0;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__sizes::before {
    content: '，显示';
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__sizes {
    float: left;
    margin-left: 0;
    margin-right: 3px;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__sizes input {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0;
    width: inherit;
    border-radius: 0;
    color: #476DBE;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__sizes .el-input__suffix {
    display: none;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pager {
    display: inline-flex;
    align-items: center;
    height: 28px;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pager li {
    border: 1px solid #EAEDF1;
    width: 24px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px;
    padding: 0;
    min-width: auto;
    color: #666;
    font-weight: normal;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pager li.active {
    color: #476DBE;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pager li + li {
    border-left: 1px solid #EAEDF1;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .btn-prev > span,
.ag-grid-box .gf-grid-status-bar .el-pagination .btn-next > span {
    height: 23px;
    line-height: 22px;
    margin-top: 3px;
    border: 1px solid #EAEDF1;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__jump {
    margin-left: 0;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__jump
.el-pagination__editor.el-input {
    width: 40px;
    height: 23px;
    line-height: 23px;
    padding: 0;
}

.ag-grid-box .gf-grid-status-bar .el-pagination .el-pagination__jump
.el-pagination__editor.el-input > input {
    width: 37px;
    height: 23px;
    line-height: 23px;
    border-radius: 0;
    font-size: 12px;
}


/*=====================================

        规则表格通用组件样式调整

=======================================*/
.rule-table .rule-add-btn {
    width: 150px;
    margin-top: 5px;
    border: 2px dashed #EAEDF1;
}

.rule-table .rule-add-btn:hover {
    color: #476DBE;
    border-color: #476DBE;
}

.rule-table-popover {
    width: 335px;
    padding-right: 6px;
}

.rule-table-popover .conf-type {
    display: flex;
    flex-wrap: wrap;
}

.rule-table-popover .conf-type>.el-button {
    width: 100px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.rule-table-popover .conf-type>.el-button+.el-button {
    margin-left: 0;
}

.rule-table .el-table {
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.rule-table .el-table .el-table__row--striped.rule-row td {
    background: #F6F8FA;
}

.rule-table .rule-header-row .rule-header-cell {
    color: #333;
    font-size: 12px;
    background: #F6F8FA;
    padding: 5px 0;
}

.rule-table .rule-cell {
    width: 100%;
    height: 32px;
    padding: 0 10px !important;
}

.rule-table .rule-cell > .cell {
    width: 100%;
    padding: 0 !important;
}

.rule-table .rule-cell > .cell>span {
    font-size: 12px;
    margin-left: 6px;
}

.rule-table .rule-cell .filter-conf {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.rule-table .rule-cell .filter-conf .nowrap-span {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
    flex: 1;
}

.rule-table .rule-cell .filter-conf .edit-btn {
    color: #476DBE;
    font-size: 16px;
    margin-top: 2px;
    cursor: pointer;
}

.rule-table .rule-cell .option-span {
    color: #409EFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.rule-table .rule-cell input {
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    padding: 0 5px;
}

.rule-table .rule-cell .el-select {
    width: 100%;
}

.rule-table .rule-cell .el-select input {
    padding-right: 25px;
}

.rule-table .rule-cell .el-select .el-input__suffix {
    right: 0;
}

.rule-table .rule-cell .el-select .el-input__suffix .el-input__icon {
    line-height: 28px;
}

.rule-table .rule-edit-area {
    padding: 10px;
    margin: 5px 0;
    border-radius: 2px;
    border: 1px solid #eaeaea;
}

.rule-table .rule-edit-area .el-textarea {
    margin: 10px 0;
}

.rule-table .el-table.validate .el-select.error > .el-input > input,
.rule-table .el-table.validate .el-input.error > input,
.rule-table .el-table.validate .filter-conf.error {
    border-color: #f00;
}


/*=====================================

        gf-page-drawer 抽屉页面样式

=======================================*/
.gf-page-drawer {
    top: 121px;
    bottom: 10px;
}

.gf-page-drawer .el-drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    margin: 0;
    padding: 9px 20px 10px;
    border-bottom: 1px solid #EAEDF1;
}

.gf-page-drawer .el-drawer__header .drawer-title{
    color: #333;
    font-size: 16px;
}

.gf-page-drawer .el-drawer__header .el-button {
    height: 25px;
    padding: 5px 19px;
    border-color: #E1E4E8;
    color: #333;
    background: transparent;
    font-size: 14px;
}

.gf-page-drawer .el-drawer__header .el-button.primary {
    color: #fff;
    background: #476DBE;
    border-color: #476DBE;
}

.gf-page-drawer .el-drawer__header .el-button + .el-button {
    margin-left: 3px;
}

.gf-page-drawer .el-drawer__body {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}





