.gf-layout-default {
    background-image: url("../skin/default-blue-bg.jpg");
    background-size: cover;
    background-position: left bottom;
    overflow: hidden;
}

#app > div.gf-tab-bar {
    height: 100% !important;
}

.app-footer-bar {
    display: none;
    background: #fff !important;
    z-index: 1000;
}

#app > div.gf-tab-bar .gf-tab-view {
    height: calc(100% - 39px);
}

body {
    background: transparent;
}

body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body ::-webkit-scrollbar-thumb {
    background: #D7DBE4;
}

body ::-webkit-scrollbar-track {
    background: transparent;
}

.el-input__inner,
.el-textarea__inner {
    border-color: #A8AED3;
}

.el-dropdown-menu {
    z-index: 1008;
}


/*=====================================

            登录界面样式

=======================================*/

.gf-login-head {
    position: fixed;
    top: 80px;
    left: 80px;
    width: auto;
    height: 45px !important;
    line-height: 0 !important;
    padding: 0 !important;
    z-index: 10;
}

.gf-login-title {
    vertical-align: baseline;
    background: linear-gradient(to right, #4d7dc2, #294d8e);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    padding-left: 10px;
}

.gf-login-head .gf-login-logo {
    vertical-align: bottom;
}

.gf-login-head .gf-login-logo > img {
    width: auto;
    height: 37px;
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.gf-login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-image: url('../login-bg-fullscreen.png') !important;
}

.gf-login-footer {
    position: fixed;
    width: 100%;
    color: #fff!important;
}

.gf-login-bg .ui.raised.segments {
    background: #fff;
    border-radius: 12px;
    margin: auto !important;
}

.gf-login-bg .ui.raised.segments
.ui.secondary.segment h4 {
    display: none;
}

.gf-login-bg .ui.raised.segments
.ui.secondary.segment::after {
    content: '请登录';
    color: #0f5eff;
    font-size: 20px;
    font-weight: normal;
    font-family: SourceHanSansCN-Medium;
}

.gf-login-bg .ui.raised.segments
.ui.secondary.segment h4 button {
    display: none;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:first-child {
    text-align: center;
    padding: 30px 10px 5px;
    background: transparent;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2) {
    border-top: none;
    padding-bottom: 30px;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
form input {
    height: 44px;
    line-height: 44px;
    border-radius: 6px;
    border-color: #A8AED3;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
form .el-icon-user-solid::before {
    content: url(./username.svg);
    width: auto;
    height: 18px;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
form .el-icon-lock::before {
    content: url(./password.svg);
    width: auto;
    height: 18px;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
.el-input__icon:after {
    margin-top: 5px;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
.submit.button.blue {
    position: relative;
    width: calc(100% - 40px);
    height: 44px;
    text-align: center;
    color: transparent;
    border-radius: 6px;
    background-color: #0F5EFF;
    margin: 0 auto;
}

.gf-login-bg .ui.segments:not(.horizontal) > .segment:nth-of-type(2)
.submit.button.blue::after {
    content: '立即登录';
    position: absolute;
    left: calc(50% - 36px);
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

/*=====================================

            导航栏样式设置

=======================================*/

/*导航栏整体样式修改*/

.gf-top-menubar {
    display: flex!important;
    position: absolute;
    height: 44px;
    right: 0;
    top: 0;
    background: transparent;
    border-bottom: none;
    z-index: 1000;
}

.gf-top-menubar .nav-right-item {
    color: #fff;
    line-height: 1;
}

.gf-top-menubar .nav-right-item .el-icon-user-solid::before {
    content: "\e6e3";
    font-size: 18px;
}

/* 顶部菜单右边功能样式 */
.gf-top-menubar .top-menu-right,
.gf-top-menubar .gf-nav-right {
    position: relative;
    display: flex;
    align-items: center;
}

.gf-top-menubar .gf-nav-right::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 8px;
    width: 1px;
    height: 14px;
    background: #fff;
}

.gf-top-menubar .gf-nav-right .top-menu-item {
    margin: 0 10px;
    cursor: pointer;
}

.gf-top-menubar .gf-nav-right .top-menu-item .svg-icon {
    fill: #fff;
}

.gf-top-menubar .gf-nav-right .top-menu-item > span {
    display: inline-block;
    height: 21px;
    vertical-align: middle;
}

/*=====================================

            侧边菜单 样式调整

=======================================*/
.left-side-container {
    display: flex;
    position: relative;
    height: 100%;
    background: transparent;
}

.left-side-container .gf-app-logo {
    margin: 20px auto 20px;
}

.left-side-container .split-line {
    flex: none;
    position: relative;
    width: 100px;
    height: 4px;
    margin: 10px auto;
    background: #fff;
    opacity: .5;
}

.left-side-container .split-line::before,
.left-side-container .split-line::after {
    content: '';
    position: absolute;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

.left-side-container .split-line::before {
    left: -6px;
}

.left-side-container .split-line::after {
    right: -6px;
}

.gf-vertical-expand {
    display: flex;
    flex-direction: column;
    width: 180px;
    transition: 1s all ease;
}

.gf-vertical-expand.fold {
    width: 60px;
}

.gf-vertical-expand.fold .gf-app-logo {
    transition: 1s all ease;
}

.gf-vertical-expand.fold .gf-app-logo > .svg-icon,
.gf-vertical-expand.fold .gf-app-logo > img{
    opacity: 0;
}

.gf-vertical-expand.fold .gf-menu.mark-menu {
    margin-left: -20px;
}

.gf-vertical-expand .gf-menu.entrance-menu {
    border-bottom: 1px solid #E5E8ED;
}

.gf-vertical-expand .gf-menu.mark-menu {
    flex: 1;
    height: 62%;
    min-height: 105px;
    padding: 0 0 10px 0;
    overflow-y: auto;
}

.gf-vertical-expand .gf-menu.mark-menu::-webkit-scrollbar {
    display: none;
}

.gf-side-menu .speedyMenu {
    min-width: 150px;
    border-left: 1px solid #E9EFF7;
}

.gf-vertical-expand .gf-menu.speedyMenu .gf-menu-item {
    color: #666;
}

.left-side-container .gf-menu .gf-menu-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 20px;
    white-space: nowrap;
    cursor: pointer;
}

.left-side-container .gf-menu.normal .gf-menu-item:not(.noneMenu):hover,
.left-side-container .gf-menu.mark-menu .gf-menu-item:hover:not(.noneMenu),
.left-side-container .gf-menu.mark-menu .gf-menu-item.is-hover:not(.noneMenu) {
    background: rgba(0, 0, 0, .2);
}

.left-side-container .gf-menu .gf-menu-item.active .menuname {
    color: #0F5EFF;
    background: #fff;
    border-radius: 23px 0 0 23px;
}

.left-side-container .gf-menu .gf-menu-item .arc {
    display: none;
}

.left-side-container .gf-menu .gf-menu-item.active .arc {
    display: block;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    z-index: 1;
}

.left-side-container .gf-menu .gf-menu-item.active .arc::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 0;
    background: transparent;
    box-shadow: 20px 20px 0px 20px #fff;
}

.left-side-container .gf-menu .gf-menu-item.active .arc.top {
    top: -40px;
}

.left-side-container .gf-menu .gf-menu-item.active .arc.bottom {
    bottom: -40px;
    transform: rotate(-90deg);
}

.left-side-container .gf-menu:not(.footer) .gf-menu-item em.menuicon {
    position: absolute;
    left: 25px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    fill: #fff;
}

.left-side-container .gf-menu .gf-menu-item em.menuicon>svg {
    width: 16px;
    vertical-align: top;
}

.left-side-container .gf-menu .gf-menu-item.active .menuicon {
    color: #0F5EFF;
    fill: #0f5eff;
}

.left-side-container.fold .gf-menu .gf-menu-item.active .menuicon {
    left: 20px;
    height: 46px!important;
    padding-left: 5px;
    border-radius: 20px 0 0 20px;
    background: #fff;
    z-index: 10;
}

.left-side-container .gf-menu .gf-menu-item:not(.active) em.menuicon > svg .st0,
.left-side-container .gf-menu .gf-menu-item.is-hover:not(.active) em.menuicon > svg .st0 {
    fill: #fff;
}

.left-side-container .gf-menu .gf-menu-item.active em.menuicon > svg .st0 {
    fill: #0F5EFF;
}

.left-side-container .gf-menu .gf-menu-item > span {
    width: 100%;
    padding-left: 50px;
}

.gf-vertical-expand.fold .gf-menu .gf-menu-item > span.menuname,
.gf-vertical-expand.fold .gf-menu .gf-menu-item > em:not(.menuicon) {
    display: none;
}

.el-tooltip__popper {
    padding: 5px 10px;
}

.el-tooltip__popper.is-dark {
    background: #999;
}

.el-tooltip__popper.is-dark::before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 6px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 5px solid #999;
}

.el-tooltip__popper.is-dark .popper__arrow {
    display: none;
}

.left-side-container .gf-menu.normal {
    flex: none;
    height: auto;
    max-height: 25%;
    overflow-y: auto;
    transition: 1s all ease;
}

.left-side-container .gf-menu.normal::-webkit-scrollbar {
    display: none;
}

.left-side-container .gf-menu.footer .flodBtn {
    display: inline-block;
    width: 60px;
    text-align: center;
    border-left: 1px solid #EFF2F7;
    padding: 0 10px;
    height: 18px;
    line-height: 18px;
    margin-left: 15px;
}

.gf-vertical-expand .gf-menu.footer .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.gf-vertical-expand .gf-menu.footer .header .gf-app-logo {
    width: 80px;
    margin: 0;
}

.gf-vertical-expand .gf-menu.footer .header .gf-app-logo>img {
    transform: translate(-124px, 0);
}

.left-side-container .gf-menu.footer .flodBtn .menuicon {
    margin-right: 0;
}

.left-side-container .gf-menu.footer .flodBtn .menuicon > svg {
    width: 18px;
    height: 18px;
}

.left-side-container .gf-menu.footer .flodBtn .menuicon > svg .st0 {
    fill: #333;
}

.left-side-container .gf-menu.footer .setting {
    display: inline-block;
    width: calc(100% - 60px);
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.gf-vertical-expand.fold .gf-menu.footer .gf-app-logo {
    display: none;
}

.left-side-container .gf-menu.footer .setting > em.fa-star {
    color: #0f5eff;
    font-size: 16px;
}

.left-side-container .gf-menu.footer .setting > em {
    color: #999;
}

.left-side-container .gf-menu.footer .setting > span {
    color: #333;
    margin: 0 10px;
}

.left-side-container .gf-menu.footer .setting:hover > span,
.left-side-container .gf-menu.footer .setting:hover > em {
    color: #0f5eff;
}


/*=====================================

            gf-side-menu 样式调整

=======================================*/

.gf-side-menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 208px;
    width: 500px;
    height: auto;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    opacity: .98;
    z-index: 2008;
}

.gf-side-menu>.arrow{
    position: fixed;
    left: 201px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    transform: rotate(45deg);
}

.left-side-container.fold .gf-side-menu {
    left: 80px;
}

.left-side-container.fold .gf-side-menu >.arrow {
    left: 72px;
}

.gf-side-menu > .menu-container {
    width: 100%;
    height: 70%;
}

.gf-side-menu > .menu-container .header {
    display: flex;
    position: relative;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
    padding-left: 40px;
}

.gf-side-menu > .menu-container .header > .search {
    width: 300px;
}

.gf-side-menu > .menu-container .header > .search input {
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    border: none;
    background: #E8EFFF;
}

.gf-side-menu > .menu-container .header > .search input::-webkit-input-placeholder {
    color: #BDBEDA;
}

.gf-side-menu > .menu-container .header > .search .el-input__icon.el-icon-search::before {
    content: url(../img/search.svg);
}

.gf-side-menu > .speedyMenu .gf-menu-item.speedy {
    float: right;
    width: 44px;
    height: 44px;
}

.gf-side-menu > .speedyMenu .gf-menu-item > .el-icon-close {
    font-size: 16px;
    color: #999;
}

.gf-side-menu > .menu-container .scroll-container {
    /*width: 775px;*/
    height: calc(100% - 44px);
    overflow-y: scroll;
}

.gf-side-menu > .menu-container .scroll-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.gf-side-menu > .menu-container .scroll-container:hover::-webkit-scrollbar-thumb {
    background: #D7DBE4;
}

.gf-side-menu > .menu-container .content {
    column-count: 3;
    column-gap: 2em;
    padding: 0 20px 20px;
}

.gf-side-menu > .menu-container .content > section {
    padding: 1em;
    margin: 0 0 1.3em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    list-style: none;
}

.gf-side-menu > .menu-container .content .stairMenu > .menu-label {
    color: #333;
    font-weight: bold;
    line-height: 32px;
    padding: 0 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    cursor: default;
    transform-origin: left center;
    transition: 1s all ease;
}

.gf-side-menu > .menu-container .content .stairMenu > .menu-label.active {
    color: #0f5eff;
    animation: gradientBG 2s ease;
}

@keyframes gradientBG {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    color: #666;
    padding: 0 10px;
    line-height: 34px;
    cursor: pointer;
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label > span {
    white-space: nowrap;
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label > .star {
    margin-left: 10px;
    color: #0f5eff;
    transition: 1s all ease;
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label > .fa-star-o {
    opacity: 0;
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label:hover .fa-star-o {
    opacity: 1;
}

.gf-side-menu > .menu-container .content .stairMenu .second-menu > .menu-label:hover {
    position: relative;
    color: #0f5eff;
    background: #EFF2F7;
}

.gf-side-menu > .speedyMenu .fast-entrance {
    width: 100%;
    height: calc(100% - 44px);
    overflow-y: auto;
}

.gf-side-menu > .speedyMenu .fast-entrance .gf-menu-item.active {
    position: relative;
    color: #0f5eff;
    background: transparent;
}

.gf-side-menu > .speedyMenu .fast-entrance .gf-menu-item.active:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 2px;
    height: 20px;
    background: #0f5eff;
}

.funBtn {
    position: fixed;
    right: 22px;
    bottom: 20%;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
    cursor: pointer;
}

.funBtn.feedback > em {
    font-size: 24px;
    color: #0f5eff;
}


/*=====================================

        chrome-tab 样式调整

=======================================*/
/* 内容框架样式调整 */
.gf-tab-views {
    padding: 0;
}

.gf-fit {
    padding: 0;
}

.common-search-panel {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 30px 0 0 0;
    z-index: 1000;
}

.common-search-panel.comm {
    position: fixed;
    left: 180px;
    top: 44px;
    width: calc(100% - 180px);
    height: 80px;
    padding: 0 30px;
}

.common-search-panel>span {
    display: flex;
    align-items: center;
}

.common-search-panel .el-cascader .el-input .el-input__inner {
    width: 360px;
    height: 40px;
    background: #E8EFFF;
    border: none;
    border-radius: 6px;
}

.common-search-panel .el-cascader .el-input .el-input__inner::-webkit-input-placeholder {
    color: #BDBEDA;
}

.common-search-panel .global-search .el-input__suffix {
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 6px 6px 0;
    background: #D4E0FF;
}

.common-search-panel .global-search .el-input__suffix .el-icon-arrow-down {
    font-size: 17px;
    vertical-align: middle;
}

.common-search-panel .global-search .el-input__suffix .el-icon-arrow-down::before {
    content: url(../img/search.svg);
}

.common-search-panel .global-search .el-input__suffix .el-icon-arrow-down.is-reverse {
    transform: rotateZ(0);
}

.global-search-popper .el-cascader-panel {
    display: none;
}

.common-search-panel .global-search-popper .el-cascader-panel .el-cascader-menu__wrap{
    height: 250px;
}

.gf-layout-default-content-tabs .gf-tab-bar .gf-tab-view,
.gf-layout-default-content-tabs .gf-tab-bar .gf-iframe {
    padding: 80px 30px 30px 30px!important;
    border-radius: 40px 0 0 40px;
    background: #fff;
    overflow-y: auto;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs {
    width: calc(100% - 300px);
    height: 44px;
    color: #fff;
    background: transparent;
    padding: 0;
    padding-left: 60px;
    padding-right: 15px;
}

.chrome-tabs>div {
    align-items: center;
}

.common-search-panel:not(.comm) .biz-date-square {
    position: fixed;
    right: 30px;
    bottom: -44px;
    z-index: 1000;
    background: #fff;
}

.biz-date-square {
    color: #999;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs
.chrome-tabs-bottom-bar {
    display: none;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tabs-content {
    display: flex;
    height: 44px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab {
    position: relative;
    width: auto !important;
    max-width: fit-content!important;
    transform: none !important;
    height: calc(100% - 5px);
    margin-top: 5px;
    cursor: pointer;
    overflow: hidden;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active] {
    overflow: initial;
}


.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=我的首页],
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页] {
    position: absolute;
    top: 0;
    left: 0;
    width: 105px!important;
    height: 39px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页] {
    left: 105px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab:not([active]) {
    z-index: 10;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-dividers,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-background {
    display: none;
}


.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-background,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-drag-handle {
    display: block;
    position: absolute;
    left: -20px;
    top: 19px;
    width: 20px;
    height: 20px;
    background: transparent;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-drag-handle {
    left: 100%;
    transform: rotate(90deg);
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-background > svg {
    display: none;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-background::before,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-drag-handle::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 0;
    background: transparent;
    box-shadow: 0 10px 0 #fff;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-content {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: none;
    border-radius: 0;
    justify-content: center;
    align-items: center;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-content {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 10px;
    overflow: initial;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-content .chrome-tab-title {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    font-size: 14px;
    mask-image: none;
    color: #fff;
    line-height: 14px;
    text-align: center;
    margin-left: 0;
    padding-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    font-family: 'SourceHanSansCN-Regular';
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=我的首页]
.chrome-tab-title::before {
    content: url(../img/my-index.svg);
    margin-right: 6px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页]
.chrome-tab-title::before {
    content: url(../img/dep-index.svg);
    margin-right: 6px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=我的首页][active]
.chrome-tab-title::before {
    content: url(../img/my-index-active.svg);
    margin-right: 6px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页][active]
.chrome-tab-title::before {
    content: url(../img/dep-index-active.svg);
    margin-right: 6px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=我的首页][active]
.chrome-tab-title::after,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页][active]
.chrome-tab-title::after {
    display: none;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=我的首页]
.chrome-tab-title::after,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[title=部门首页]
.chrome-tab-title::after {
    content: '';
    margin-left: 10px;
    border-right: 1px solid #fff;
}


.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-close {
    font-size: 12px;
    background: transparent;
    margin-top: 4px;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab:hover
.chrome-tab-title {
    color: #fff;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-title,
.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab[active]
.chrome-tab-close {
    color: #0F5EFF;
}

.gf-layout-default-content-tabs .gf-tab-bar .chrome-tabs .chrome-tab
.chrome-tab-close:hover {
    color: #FD5F5F;
}

.chrome-tab-close::before {
    content: "\e6db";
    font-family: "element-icons";
    font-weight: bold;
}


/* =============================

    el-dialog__wrapper弹框通用样式

   ============================= */
.el-dialog__wrapper {
    overflow: hidden;
}

.el-dialog__wrapper .el-dialog {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.el-dialog__wrapper.autoHeight .el-dialog {
    height: auto;
}

.el-dialog__wrapper .el-dialog .el-dialog__header {
    padding: 13px 20px;
    border-bottom: 1px solid #EFF2F7;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__title {
    font-size: 14px;
    color: #333;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn {
    width: auto;
    height: auto;
    color: #333;
    border: none;
    top: 11px;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
    display: block;
    color: #666;
    font-weight: bold;
}

.el-dialog__wrapper .el-dialog .el-dialog__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}

.el-dialog__wrapper .el-dialog .el-dialog__body > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.el-dialog__wrapper .el-dialog .el-dialog__body > div > .el-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.el-dialog__wrapper .el-dialog .el-dialog__footer {
    border-top: none;
}

.el-dialog__wrapper .el-dialog .el-dialog__body .el-dialog__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 8px 8px;
}

.el-dialog__wrapper .el-dialog .el-dialog__body .dialog__footer__holder {
    height: 55px;
}

.el-dialog__wrapper .el-dialog .el-dialog__footer .el-button,
.el-dialog__wrapper .el-dialog .gf-form-btn .el-button {
    width: 75px;
    min-width: 75px;
    height: 25px;
    padding: 0;
}

.el-dialog__wrapper .el-dialog .el-dialog__footer .el-button.el-button--primary,
.el-dialog__wrapper .el-dialog .gf-form-btn .el-button.el-button--primary {
    color: #fff;
    background: #0f5eff;
    border-color: #0f5eff;
}

.el-dialog__wrapper .el-dialog .el-dialog__footer .el-button > i,
.el-dialog__wrapper .el-dialog .gf-form-btn .el-button > i {
    display: none;
}

.gf-dialog .el-dialog {
    position: relative;
    max-height: 80%;
}

/* =============================

    el-form 表单通用样式

   ============================= */
.el-form {
    padding: 20px;
}

.el-form .line {
    display: flex;
}

.el-form .line .el-form-item {
    width: 100%;
}

.el-form .line.none-shrink .el-form-item {
    width: auto;
}

.el-form .el-form-item .el-form-item__label,
.el-form .el-form-item .el-form-item__content,
.el-form .el-form-item .el-form-item__content .el-radio,
.el-form .el-form-item .el-form-item__content .el-checkbox,
.el-form .el-form-item .el-form-item__content .el-input__icon {
    line-height: 32px;
}

.el-form .el-form-item .el-form-item__content .el-button--text {
    padding: 0;
}

.el-form .el-form-item .el-form-item__label {
    color: #666;
    padding-right: 10px;
}

.el-form .el-form-item .el-form-item__content input {
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
}

.el-form .el-form-item .el-form-item__content .el-date-editor,
.el-form .el-form-item .el-form-item__content .el-select {
    width: 100%;
}

.el-form .el-form-item .el-form-item__content .el-date-editor.el-input,
.el-form .el-form-item .el-form-item__content .el-date-editor.el-range-editor.el-input__inner {
    margin-top: 0;
    height: 32px;
    line-height: 0;
}

.el-form .el-form-item .el-form-item__content .el-date-editor .el-input__inner {
    margin-top: 0;
    height: 30px;
    line-height: 30px;
}

.el-form .el-form-item .el-form-item__content .el-date-editor .el-range-input,
.el-form .el-form-item .el-form-item__content .el-date-editor .el-input__icon,
.el-form .el-form-item .el-form-item__content .el-date-editor .el-range-separator {
    height: 30px;
    line-height: 30px;
}

.el-form .el-form-item:not(.is-error) .el-form-item__content input {
    border-color: #A8AED3;
}

.el-form .el-form-item .el-form-item__content .el-textarea__inner {
    border-color: #A8AED3;
    border-radius: 4px;
}


.el-form .el-form-item .el-form-item__content .el-input.is-disabled
.el-input__inner::-webkit-input-placeholder,
.el-form .el-form-item .el-form-item__content .el-textarea.is-disabled
.el-input__inner::-webkit-input-placeholder {
    color: transparent;
}

.el-form .el-form-item .el-form-item__content .el-input.is-disabled .el-input__inner,
.el-form .el-form-item .el-form-item__content .el-textarea.is-disabled .el-textarea__inner {
    border: none;
    background: transparent;
    color: #666;
    resize: none;
    cursor: default;
}

.el-form .el-form-item .el-form-item__content .el-input__suffix .el-input__icon {
    color: #666;
    line-height: 32px;
}

.el-form .el-form-item .el-form-item__content .el-input.is-disabled .el-input__suffix {
    display: none;
}
.el-form .el-form-item .el-form-item__content .el-upload.el-upload--text .el-button:not(.normal-link){
    font-weight: bold;
    color: #0f5eff;
    text-decoration: underline;
    background: transparent;
    border: none;
    padding: 5px;
}

.el-form .el-form-item .el-form-item__content .el-button:not(.el-button--text) {
    padding: 4px 10px;
    color: #0f5eff;
    border-color: #0f5eff;
    background: transparent;
}

/* 整体表单页面 */
.formPage {
    display: flex;
    flex-direction: column;
}

.formPage:first-child {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.formPage .form__footer {
    background: #fff;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

.formPage .form__footer .el-button {
    width: 75px;
    min-width: 75px;
    height: 25px;
    padding: 0;
}

.formPage .form__footer .el-button.el-button--primary {
    color: #fff;
    background: #0f5eff;
    border-color: #0f5eff;
}

.formPage .form__footer .el-button + .el-button {
    margin-left: 3px;
}

.formPage .form__footer .el-button > i {
    display: none;
}

/* =============================

    actionPanel操作面板通用样式

   ============================= */
.actionPanel {
    margin-bottom: 2px;
}

.actionPanel .el-button {
    padding: 4px 10px;
    color: #0f5eff;
    border-color: #0f5eff;
    background: transparent;
}

.actionPanel .el-button + .el-button {
    margin-left: 3px;
}

.actionPanel .el-button.is-disabled,
.actionPanel .el-button.is-disabled:focus,
.actionPanel .el-button.is-disabled:hover {
    color: #CCCCCC;
    border-color: #A8AED3;
    background-color: #F6F6F6;
}

/* =============================

    菜单树布局通用样式

   ============================= */
.menuTree.gf-tab-view {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0;
}

.menuTree.gf-tab-view .left {
    display: flex;
    flex-direction: column;
    width: 220px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .menuTree.gf-tab-view .left {
        height: calc(100% - 35px);
    }
}

.menuTree.gf-tab-view .left .optionPanel {
    padding: 0 12px;
}

.menuTree.gf-tab-view .left .optionPanel .el-input > input {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}

.menuTree.gf-tab-view .left .menuContainer {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: calc(50% - 19px);
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #A8AED3;
}

.menuTree.gf-tab-view .left .menuContainer .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19px;
    line-height: 19px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuTree.gf-tab-view .left .menuContainer .title > span {
    display: inline-block;
}

.menuTree.gf-tab-view .left .menuContainer .title > span > button {
    padding: 0;
    font-size: 16px;
    color: #999;
}

.menuTree.gf-tab-view .left .menuContainer .title > span > button + button {
    margin-left: 3px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu {
    height: calc(100% - 29px);
    margin: 0 -15px;
    border-right: none;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 15px !important;
    color: #666;
    font-size: 14px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title > p.title__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    width: calc(100% - 15px);
    overflow: hidden;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title > p.title__content > span.text {
    display: flex;
    align-items: center;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu.is-opened.is-active
.el-submenu__title {
    color: #0f5eff;
    border: none;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu.is-active.is-opened
.el-submenu__title .el-icon-s-operation,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu.is-active.is-opened
.el-submenu__title .el-submenu__icon-arrow {
    color: #0f5eff;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title .el-icon-s-operation {
    width: 14px;
    color: #666;
    margin-right: 11px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.textLabel > input {
    height: 22px;
    line-height: 22px;
    border-color: #A8AED3;
    border-radius: 0;
    padding: 0 17px 0 5px;
    text-overflow: ellipsis;
    vertical-align: baseline;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.textLabel.is-disabled > input {
    font-size: 14px;
    border: none;
    background: transparent;
    padding: 0 5px 0 0;
    cursor: default;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item > p.content .textLabel.is-disabled > input {
    font-size: 12px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.textLabel .el-input__suffix {
    right: 5px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.textLabel .el-input__suffix .el-input__icon {
    width: 14px;
    line-height: 22px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title .el-submenu__icon-arrow {
    color: #666;
    font-weight: bold;
    right: 15px;
    top: calc(50% - 5px);
    margin-top: 0;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item-group__title {
    display: none;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: auto;
    height: 34px;
    line-height: 34px;
    padding: 0 5px 0 30px !important;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item > p.content {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    line-height: 34px;
    color: #666;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item > p.edit,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title > p.title__content span.edit {
    display: none;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item:hover > p.edit,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title:hover > p.title__content span.edit {
    display: block;
    line-height: inherit;
}

.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item > p.edit > span > i,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu
.el-submenu__title > p.title__content span.edit i {
    width: auto;
    font-size: 14px;
    color: #999;
}

.menuTree.gf-tab-view .left .menuContainer .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active {
    color: #0f5eff;
    background: #EFF2F7;
}

.menuTree.gf-tab-view .left .menuContainer .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active > p.content,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active > p.content .textLabel.is-disabled > input,
.menuTree.gf-tab-view .left .menuContainer .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active > p.edit > span > i,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu.is-opened.is-active
.el-submenu__title > p.title__content .textLabel.is-disabled > input,
.menuTree.gf-tab-view .left .menuContainer > .el-menu .el-submenu.is-opened.is-active
.el-submenu__title > p.title__content span.edit i {
    color: #0f5eff;
}

.menuTree.gf-tab-view .left .menuContainer .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    background: #0f5eff;
}

.menuTree.gf-tab-view .left .menuContainer .el-menu .el-submenu > .el-menu
.el-menu-item-group .el-menu-item.is-active::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: calc(50% - 3px);
    right: 0;
    border: 6px solid transparent;
    border-right: 6px solid #0f5eff;
}

.menuTree.gf-tab-view .right {
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
}


/* =============================

    fixedCircleBtn 定位圆形样式

   ============================= */
.fixedCircleBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5px;
    top: 40%;
}

.fixedCircleBtn > button {
    width: 77px;
    height: 77px;
    color: #0f5eff;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 50%;
    padding: 0;
}

.fixedCircleBtn > button + button {
    margin-left: 0 !important;
    margin-top: 10px;
}

.fixedCircleBtn > button.red {
    color: #F5222E;
}

.fixedCircleBtn > button:hover {
    color: #0f5eff;
    background: #EEF5FC;
    border: none;
}

.fixedCircleBtn > button.red:hover {
    color: #F5222E;
    background: #ffefef;
}

.fixedCircleBtn > button > i {
    display: block;
    font-size: 22px;
}

.fixedCircleBtn > button > span {
    display: block;
    margin: 3px 0px !important;
    font-size: 14px;
}

/* =============================

    checkbox 样式

   ============================= */
.el-checkbox.is-checked:not(.is-disabled) .el-checkbox__label {
    color: inherit;
}

.el-checkbox .el-checkbox__label {
    padding-left: 5px;
}

.weekGroup .el-checkbox .el-checkbox__label {
    font-size: 12px;
}

.el-checkbox:not(:last-child) {
    margin-right: 10px;
}

.el-checkbox + .el-checkbox {
    margin-left: 0;
}

.el-checkbox__inner {
    width: 14px;
    height: 14px;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
}

.el-checkbox__input.is-checked:not(.is-disabled) .el-checkbox__inner,
.el-checkbox__input.is-indeterminate:not(.is-disabled) .el-checkbox__inner {
    /*background: #0f5eff;*/
    /*border: 1px solid #0f5eff;*/
    font-weight: bold;
}

.el-checkbox__input.is-indeterminate
.el-checkbox__inner::before {
    transform: scale(.7);
}

.el-checkbox__input.is-checked .el-checkbox__inner::after {
    border-width: 2px;
    height: 9px;
    top: -1px;
    width: 3px;
    left: 4px;
}

/* =============================

    el-tabs 表单通用样式

   ============================= */
.el-tabs,
.el-tabs.el-tabs--card {
    margin-left: 0;
}

.el-tabs.el-tabs--card > .el-tabs__header {
    border-bottom: 1px solid #E4E7ED;
    margin: 0;
}

.el-tabs.el-tabs--card > .el-tabs__header .el-tabs__nav {
    border-radius: 0px;
}


.el-tabs .el-tabs__nav-wrap::after {
    display: none;
}

.el-tabs.account:not(.el-tabs--card):not(.el-tabs--border-card) > .el-tabs__header .el-tabs__nav {
    margin-top: 7px;
}

.el-tabs:not(.el-tabs--card):not(.el-tabs--border-card) > .el-tabs__header .el-tabs__nav {
    border-bottom: 4px solid #D7DBE4;
}

.content-tab.el-tabs.el-tabs--card > .el-tabs__header .el-tabs__nav
.el-badge .el-badge__content {
    top: -1px;
    left: 100%;
}

.el-tabs > .el-tabs__header .el-tabs__nav .el-tabs__active-bar{
    bottom: -4px;
    height: 4px;
    border-radius: 4px;
    background-color: #0F5EFF;
}

.el-tabs .el-tabs__header .el-tabs__item {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
}

.el-tabs.el-tabs--card .el-tabs__header .el-tabs__item {
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #E4E7ED;
}

.el-tabs .el-tabs__header .el-tabs__item.is-active {
    color: #0f5eff;
}


.el-tabs.el-tabs--card .el-tabs__header .el-tabs__item.is-active {
    position: relative;
    color: #0f5eff;
    border-bottom: none;
}

.el-tabs.el-tabs--card .el-tabs__header .el-tabs__item.is-active::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    background: #0f5eff;
}

.el-tabs .el-tabs__content {
    height: calc(100% - 32px);
    border: none;
    padding: 10px 0;
}

.el-tabs.el-tabs--card .el-tabs__content {
    width: 100%;
    height: calc(100% - 32px);
    border: 1px solid #E4E7ED;
    border-top: none;
    border-radius: 0;
    padding: 10px;
}

.el-tabs .el-tabs__content .el-tab-pane,
.el-tabs.el-tabs--card .el-tabs__content .el-tab-pane {
    height: 100%;
}

.flex-fix-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.line-border-btn {
    height: 22px;
    color: #0f5eff;
    border: 1px solid #0f5eff;
    border-radius: 3px;
    background: transparent;
    padding: 0px 10px;
}

.solid-background-btn.el-button {
    height: 22px;
    padding: 0 15px;
}

.solid-background-btn.el-button.el-button--primary {
    color: #fff;
    background: #0f5eff;
    border-color: #0f5eff;
}

/* ========================================

    flex-wrap-container 自适应定列数wrap布局

   ======================================== */
.flex-wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-wrap-container .wrapItem {
    position: relative;
    width: calc(18%);
    height: 0;
    padding-bottom: calc(18% * 0.75);
    margin-bottom: 20px;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    cursor: pointer;
}

.flex-wrap-container .wrapItem .item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
