/*==========================

    dataV template页面样式

============================*/
.template-page {
    padding: 15px;
}

.template-page .search-panel {
    display: flex;
    flex-direction: row;
}

.template-page .search-panel>div {
    width: 25%;
    max-width: 250px;
    margin: 0 10px;
}

.template-page .search-panel .el-input input {
    color: #333;
}

.template-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    flex: 1;
    margin-top: 15px;
    padding: 10px 0 10px 10px;
    overflow-y: scroll;
}

.template-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.template-container:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 141, 153, .3);
}

.template-item  {
    position: relative;
    width: calc(25% - 8px);
    height: 0;
    padding-bottom: 20%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    overflow: hidden;
}

.template-item:hover {
    box-shadow: 0 4px 5px #D9E8FD;
}

.template-item.new {
    border: 2px #CACDD6 dashed;
}

.template-item.new .el-button {
    height: 100%;
}

.template-item.new .el-icon-plus {
    color: #666;
    font-size: 26px;
    font-weight: bold;
}

.template-item.new .component-label {
    color: #666;
    font-size: 14px;
}

.template-item.new:hover {
    border: 2px #476DBE dashed;
}

.template-item.new:hover .el-icon-plus,
.template-item.new:hover .component-label {
    color: #476DBE;
}

.template-item>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1560px) {
    .template-item {
        width: calc(20% - 8px);
        padding-bottom: 16%;
    }
}

@media screen and (max-width: 1200px) {
    .template-item {
        width: calc(33% - 8px);
        padding-bottom: 26%;
    }
}

.template-item .img-canvas{
    position: relative;
    width: 100%;
    flex: 1;
}

.template-item .img-canvas .hover-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.template-item:hover .img-canvas .hover-mask {
    display: block;
}

.template-item .img-canvas .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}

.template-item .img-canvas .buttonP {
    text-align: center;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.template-item .img-canvas .buttonP>button {
    width: 112px;
    margin: 0 auto;
    font-size: 14px;
}

.template-item .img-canvas .buttonP>button+button {
    margin-top: 10px;
}

.template-item .img-canvas .buttonP>button.el-button--primary {
    background-color: #476DBE;
    border-color: #476DBE;
}

.template-item .img-canvas .buttonP>button.el-button--primary:hover {
    background-color: #264995;
}

.template-item .img-canvas .buttonP>button.el-button--default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.template-item .img-canvas .buttonP>button.el-button--default:hover {
    color: #476DBE;
    background-color: #fff;
}

.template-item .img-canvas .hover-mask .iconImg {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
}

.template-item .img-canvas .hover-mask .iconImg:hover {
    background: #666;
}

.template-item .img-canvas .hover-mask .iconImg.delete:hover {
    background: #ea6948;
}


.template-item .img-canvas .hover-mask .iconImg>i,
.template-item .img-canvas .hover-mask .iconImg>svg {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
    fill: #fff;
    margin: 6px;
}

.template-item .title,
.template-item .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    font-size: 14px;
    padding: 0 10px;
    color: #333;
    cursor: default;
}

.template-item .tags {
    height: 20px;
    justify-content: start;
    padding: 0 10px;
    margin-bottom: 5px;
}

.template-item .tags .el-tag+.el-tag {
    margin-left: 1px;
}

/*=========================================================

                dataV template-edit页面样式

===========================================================*/

.template-edit-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #424242;
    z-index: 1000;
}

.template-edit-page>.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    color: #D3D6E9;
    font-size: 14px;
    border-bottom: 1px solid #000;
    background: #3b3b3b;
}

.template-edit-page>.header>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.template-edit-page>.header .header-item:not(.input) {
    width: 80px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
}

.template-edit-page>.header .header-item+.header-item {
    cursor: pointer;
}

.template-edit-page>.header .header-item input {
    color: #fff;
    background-color: #262626;
    border-color: #262626;
}

.template-edit-page>.header .header-item .iconImg {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 1;
    margin-right: 3px;
    vertical-align: middle;
}

.template-edit-page>.header .header-item .iconImg>svg{
    width: 20px;
    height: 20px;
    fill: #D3D6E9;
}

.template-edit-page>.header .header-item:hover .iconImg>svg{
    fill: #fff;
}

.template-edit-page>.header .header-item:hover{
    background: #000;
}

.template-edit-page>.header .header-item:hover>span{
    color: #fff;
}


.template-edit-page>.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
}

/*=========================================================

                dataV template-edit页面样式
                    左边组件模块样式

===========================================================*/

.template-edit-page .content .template-comp-sider {
    position: relative;
    width: 50px;
    height: 100%;
}

.template-edit-page .content .template-comp-sider .comp-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    padding: 0;
    z-index: 10;
}

.template-edit-page .content .template-comp-sider .comp-container
.comp-item {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.template-edit-page .content .template-comp-sider .comp-container
.comp-item>i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.template-edit-page .content .template-comp-sider .comp-container
.comp-item.active {
    background: #4a4a4a;
}

.template-edit-page .content .template-comp-sider .iconImg>svg{
    width: 20px;
    height: 20px;
    fill: #fff;
}

.template-edit-page .content .template-comp-sider .iconImg>svg.text{
    width: 16px;
    height: 16px;
}

.template-edit-page .content .template-comp-sider .iconImg>svg.decorate{
    width: 24px;
    height: 24px;
}

.template-edit-page .content .template-comp-sider .comp-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50px;
    width: 280px;
    height: 100%;
    background: #4a4a4a;
    z-index: 1000;
}

.template-edit-page .content .template-comp-sider .comp-panel .header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.template-edit-page .content .template-comp-sider .comp-panel .header
.title {
    font-size: 15px;
    color: #fff;
}

.template-edit-page .content .template-comp-sider .comp-panel .header
.iconImg {
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
}

.template-edit-page .content .template-comp-sider .comp-panel .header
.iconImg:hover {
    color: #000;
}

.template-edit-page .content .template-comp-sider .comp-panel .content {
    flex: 1;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse {
    border: none;
}


.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item {
    background: #383838;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item .el-collapse-item__header {
    height: 36px;
    line-height: 36px;
    color: #999;
    border: none;
    background-color: #383838;
    padding: 0 10px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item.is-active .el-collapse-item__header {
    color: #fff;
    background-color: #5bbd72;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item .el-collapse-item__arrow {
    margin-right: 0;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item {
    margin-bottom: 10px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.el-collapse .el-collapse-item__content {
    padding: 10px 0;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.comp-thumbnail {
    height: 105px;
    text-align: center;
    padding: 0 10px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content
.comp-thumbnail .comp-img {
    height: 105px;
    width: auto;
    max-width: 100%;
}

.clickMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo>div{
    position: relative;
    margin-bottom: 20px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo>div>p.title{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 8px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo>div input{
    color: #fff;
    background-color: #262626;
    border-color: #262626;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo
.bgContent .bg-img {
    width: 100%;
    height: 150px;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo
.bgContent .showBgBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #38a04c;
    font-size: 14px;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    cursor: pointer;
}

.template-edit-page .content .template-comp-sider .comp-panel .content.pageInfo
.bgContent .showBgBtn:hover {
    color: #fff;
}

.bgListPop {
    width: 540px;
    height: 620px;
    padding: 0;
    overflow: hidden;
}

.bgListPop .el-popover__title{
    margin-bottom: 0;
    padding: 10px;
}

.bgListPop .bgList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100% - 46px);
    padding: 0 10px;
    overflow-y: auto;
}

.bgListPop .bgList>div {
    position: relative;
    width: calc(50% - 5px);
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.bgListPop .bgList>div>.bg-img {
    width: 100%;
    height: 100%;
}

.bgListPop .bgList>div>p {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 150px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.bgListPop .bgList>div:hover>p {
    display: block;
}


/*=========================================================

                dataV template-edit页面样式
                    中间内容模块样式

===========================================================*/

.template-edit-page .content .template-board-container,
.template-edit-page .content .doc-board-container {
    flex: 1;
    padding: 20px;
}

.template-edit-page .content .template-board-container>.container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed #606266;
    background: #3b3b3b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*=========================================================

                dataV template-edit页面样式
                    右边配置模块样式

===========================================================*/

.template-edit-page .content .template-config-sider {
    position: relative;
    height: 100%;
    background: #333;
}

.template-edit-page .content .template-config-sider .menu-fold {
    position: absolute;
    display: block;
    width: 9px;
    height: 45px;
    top: calc(50% - 30px);
    left: 0;
    cursor: pointer;
    z-index: 10;
}

.template-edit-page .content .template-config-sider.fold .menu-fold {
    transform: rotateY(-180deg);
    transform-origin: left;
}

.template-edit-page .content .template-config-sider .menu-fold>svg {
    position: absolute;
    left: -18px;
    width: 45px;
    height: 45px;
    fill: #ccc;
}

.template-edit-page .content .template-config-sider .container {
    width: 260px;
    height: 100%;
    transition: 1s all ease;
}

.template-edit-page .content .template-config-sider.fold .container {
    width: 0;
}

.darkTab.el-tabs--border-card {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.darkTab.el-tabs--border-card>.el-tabs__header {
    margin: 0;
    border-bottom: none;
    background: transparent;
}

.darkTab.el-tabs--border-card .el-tabs__header .el-tabs__item {
    position: relative;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 15px;
    text-align: center;
    border: none;
    background: #333;
}

.darkTab.el-tabs--border-card .el-tabs__header .el-tabs__item.is-active {
    color: #fff;
    background: #262626;
}

.darkTab.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: #fff;
}

.darkTab.el-tabs--border-card .el-tabs__content {
    height: calc(100% - 30px);
    border: none;
    border-radius: 0;
    padding: 10px;
    background: #262626;
}

.template-config-sider .confSection {
    padding: 10px;
    border-radius: 5px;
    background: #444;
}

.template-config-sider .confSection+.confSection {
    margin-top: 10px;
}

.template-config-sider .confSection .conf-row {
    margin-bottom: 10px;
}

.template-config-sider .confSection .conf-row .conf-row-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 4px;
}

.template-config-sider .confSection .conf-row .conf-row-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.template-config-sider .confSection .conf-row .row-inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.template-config-sider .confSection .conf-row .row-inp>span {
    color: #ccc;
    margin-bottom: 5px;
}

.template-config-sider .confSection .conf-row .row-inp+.row-inp {
    margin-left: 10px;
}

.template-config-sider .confSection .conf-row .row-inp .el-input__inner {
    width: 100%;
    height: 22px;
    line-height: 22px;
    border: none;
    color:  #fff;
    background: #2f2f2f;
    padding-left: 10px;
    padding-right: 21px;
}

.template-config-sider .confSection .conf-row .row-inp .el-input .el-input-group__append {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 15px;
    text-align: inherit;
    background: transparent;
    border: none;
    line-height: 22px;
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.template-config-sider .confSection .conf-row .row-inp .el-input .el-input-group__append
.conf-icon.el-icon-unlock{
    color: #38a04c;
}

.template-config-sider .confSection .conf-row .row-inp .el-input .el-input-group__append
.conf-icon.el-icon-lock{
    color: #ea6948;
}

.template-config-sider .confSection .conf-row .row-inp.radioInp {
    width: 100%;
}

.template-config-sider .confSection .conf-row .row-inp.radioInp
.el-radio-group .el-radio {
    width: 33%;
    color: #ccc;
    text-align: center;
    margin-right: 0;
    margin-bottom: 5px;
}

.template-config-sider .confSection .conf-row .row-inp.radioInp
.el-radio-group .el-radio .el-radio__input {
    display: block;
    margin-bottom: 3px;
}

.template-config-sider .confSection .conf-row .row-inp.radioInp
.el-radio-group .el-radio .el-radio__label {
    padding-left: 0;
    font-size: 12px;
}

.dv-decoration-11 .decoration-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7ec699;
    font-weight: 700;
    font-size: 28px;
}

.dv-decoration-9 {
    color: #7ec699;
    font-weight: 700;
    font-size: 28px;
    text-shadow: 0 0 3px #7acaec;
}

.vdr>.optionIcon {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #f00;
    cursor: pointer;
    z-index: 10;
}

.vdr.active>.optionIcon{
    display: block;
}

.vdr>.optionIcon.fa-copy {
    right: 30px;
    color: #fff;
}